<!-- Page Header -->
<div class="page-header page-header-block">
  <div class="page-header-section">
    <h4 class="title semibold">Versand - {{model.id}}</h4>
  </div>
</div>
<!--/ Page Header -->

<div class="row">
    <div class="col-lg-12">
        <div class="table-layout">
            <!-- Left / Top Side -->
            <div class="col-lg-3 panel bgcolor-default valign-top">
                <ul class="list-unstyled text-center pa15">
                    <li>
                        <h4 class="semibold mb0 mt15">Erich Reyes</h4>
                        <p class="nm">UI / UX Designer</p>
                        <br>
                        <p class="nm">Berlin</p>
                        <p class="nm">(787) 347-7437</p>
                    </li>
                </ul>
            </div>
            <!--/ Left / Top Side -->
            <!-- Left / Bottom Side -->
            <div class="col-lg-9 panel">
                <!-- panel body -->
                <div class="panel-body text-right">
                    <h4 class="semibold nm">Dale Clarke</h4>
                    <p class="text-muted nm">Rutrum Lorem Incorporated</p>
                    <p class="text-muted nm">Oklahoma</p>
                </div>
                <!-- panel body -->
                <hr class="nm">
                <!-- panel body -->
                <div class="panel-body">
                    <ul class="list-table">
                        <li class="text-left">
                            <h4 class="semibold nm">Invoice / December Period</h4>
                            <p class="semibold text-muted nm">December 22nd, 2014 - October 8th, 2014</p>
                        </li>
                        <li class="text-right">
                            <p class="semibold text-primary nm">Invoice ID : #763548</p>
                        </li>
                    </ul>
                </div>
                <!-- panel body -->
                <!-- panel table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th>Task Description</th>
                                <th class="text-center" width="15%">Rate</th>
                                <th class="text-center" width="15%">Hours</th>
                                <th class="text-center" width="15%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="valign-top text-center">1.</td>
                                <td>
                                    <h5 class="semibold mt0 mb5">Website design &amp; development</h5>
                                    <span class="text-muted">Lorem ipsum dolor sit ametiusmod</span>
                                </td>
                                <td class="valign-top text-center"><span class="bold">$50</span></td>
                                <td class="valign-top text-center"><span class="bold">50</span></td>
                                <td class="valign-top text-center"><span class="text-primary bold">$1500</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ panel table -->
                <!-- panel footer -->
                <div class="panel-footer">
                    <ul class="list-table pa10">
                        <li>
                            <h5 class="semibold nm">SUB TOTAL</h5>
                        </li>
                        <li class="text-right">
                            <h3 class="semibold nm">${{model.bruttoAmount}}</h3>
                        </li>
                    </ul>
                </div>
                <!-- panel footer -->
                <!-- panel footer -->
                <div class="panel-footer">
                    <ul class="list-table pa10">
                        <li>
                            <h5 class="semibold nm">TAXES &amp; FEES</h5>
                        </li>
                        <li class="text-right">
                            <h3 class="semibold nm">$60.00</h3>
                        </li>
                    </ul>
                </div>
                <!-- panel footer -->
                <!-- panel footer -->
                <div class="panel-footer">
                    <ul class="list-table pa10">
                        <li>
                            <h5 class="semibold nm">TOTAL PAYABLE</h5>
                        </li>
                        <li class="text-right">
                            <h3 class="semibold nm text-success">${{model.nettoAmount}}</h3>
                        </li>
                    </ul>
                </div>
                <!-- panel footer -->
            </div>
            <!--/ Left / Bottom Side -->
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Verfügbare Paletten</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="table-responsive panel-collapse pull out">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th>Palette</th>
                            <th>Positionen</th>
                            <th>Mehrplatz</th>
                            <th>Tour</th>
                            <th>Gebiet</th>
                            <th>Empfänger</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pallet in model.availablePallets}}
                        <tr>
                            <td>{{pallet.id}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn-group">
                                    <button {{action 'assignPallet' pallet}} class="btn btn-xs btn-success">
                                        <i class="ico-chevron-right"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Hinzugefügte Paletten</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="table-responsive panel-collapse pull out">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Palette</th>
                            <th>Positionen</th>
                            <th>Mehrplatz</th>
                            <th>Tour</th>
                            <th>Gebiet</th>
                            <th>Empfänger</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pallet in model.pallets}}
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button {{action 'removePallet' pallet}} class="btn btn-xs btn-warning">
                                        <i class="ico-chevron-left"></i>
                                    </button>
                                </div>
                            </td>
                            <td>{{pallet.id}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>

</div>
