<div class="row">

  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-info">
        <div class="ico-users3 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm">1845</h4>
          <p class="semibold text-muted mb0 mt5">Produziert</p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>

  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInUp">
      <div class="col-xs-4 panel bgcolor-teal">
        <div class="ico-crown fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm">187</h4>
          <p class="semibold text-muted mb0 mt5">Eingelagert</p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>

  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-primary">
        <div class="ico-box-add fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm">10</h4>
          <p class="semibold text-muted mb0 mt5">Offen</p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
</div>