@font-face {
	font-family: 'iconfont';
	src: font-url('iconfont/iconfont.eot');
	src: font-url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
		font-url('iconfont/iconfont.svg#iconfont') format('svg'),
		font-url('iconfont/iconfont.woff') format('woff'),
		font-url('iconfont/iconfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-home:before {
	content: "\e000";
}
.ico-home2:before {
	content: "\e001";
}
.ico-home3:before {
	content: "\e002";
}
.ico-home4:before {
	content: "\e003";
}
.ico-home5:before {
	content: "\e004";
}
.ico-home6:before {
	content: "\e005";
}
.ico-home7:before {
	content: "\e006";
}
.ico-home8:before {
	content: "\e007";
}
.ico-home9:before {
	content: "\e008";
}
.ico-home10:before {
	content: "\e009";
}
.ico-home11:before {
	content: "\e00a";
}
.ico-office:before {
	content: "\e00b";
}
.ico-newspaper:before {
	content: "\e00c";
}
.ico-pencil:before {
	content: "\e00d";
}
.ico-pencil2:before {
	content: "\e00e";
}
.ico-pencil3:before {
	content: "\e00f";
}
.ico-pencil4:before {
	content: "\e010";
}
.ico-pencil5:before {
	content: "\e011";
}
.ico-pencil6:before {
	content: "\e012";
}
.ico-quill:before {
	content: "\e013";
}
.ico-quill2:before {
	content: "\e014";
}
.ico-quill3:before {
	content: "\e015";
}
.ico-pen:before {
	content: "\e016";
}
.ico-pen2:before {
	content: "\e017";
}
.ico-pen3:before {
	content: "\e018";
}
.ico-pen4:before {
	content: "\e019";
}
.ico-pen5:before {
	content: "\e01a";
}
.ico-marker:before {
	content: "\e01b";
}
.ico-home12:before {
	content: "\e01c";
}
.ico-marker2:before {
	content: "\e01d";
}
.ico-blog:before {
	content: "\e01e";
}
.ico-blog2:before {
	content: "\e01f";
}
.ico-brush:before {
	content: "\e020";
}
.ico-palette:before {
	content: "\e021";
}
.ico-palette2:before {
	content: "\e022";
}
.ico-eyedropper:before {
	content: "\e023";
}
.ico-eyedropper2:before {
	content: "\e024";
}
.ico-droplet:before {
	content: "\e025";
}
.ico-droplet2:before {
	content: "\e026";
}
.ico-droplet3:before {
	content: "\e027";
}
.ico-droplet4:before {
	content: "\e028";
}
.ico-paint-format:before {
	content: "\e029";
}
.ico-paint-format2:before {
	content: "\e02a";
}
.ico-image:before {
	content: "\e02b";
}
.ico-image2:before {
	content: "\e02c";
}
.ico-image3:before {
	content: "\e02d";
}
.ico-images:before {
	content: "\e02e";
}
.ico-image4:before {
	content: "\e02f";
}
.ico-image5:before {
	content: "\e030";
}
.ico-image6:before {
	content: "\e031";
}
.ico-images2:before {
	content: "\e032";
}
.ico-image7:before {
	content: "\e033";
}
.ico-camera:before {
	content: "\e034";
}
.ico-camera2:before {
	content: "\e035";
}
.ico-camera3:before {
	content: "\e036";
}
.ico-camera4:before {
	content: "\e037";
}
.ico-music:before {
	content: "\e038";
}
.ico-music2:before {
	content: "\e039";
}
.ico-music3:before {
	content: "\e03a";
}
.ico-music4:before {
	content: "\e03b";
}
.ico-music5:before {
	content: "\e03c";
}
.ico-music6:before {
	content: "\e03d";
}
.ico-piano:before {
	content: "\e03e";
}
.ico-guitar:before {
	content: "\e03f";
}
.ico-headphones:before {
	content: "\e040";
}
.ico-headphones2:before {
	content: "\e041";
}
.ico-play:before {
	content: "\e042";
}
.ico-play2:before {
	content: "\e043";
}
.ico-movie:before {
	content: "\e044";
}
.ico-movie2:before {
	content: "\e045";
}
.ico-movie3:before {
	content: "\e046";
}
.ico-film:before {
	content: "\e047";
}
.ico-film2:before {
	content: "\e048";
}
.ico-film3:before {
	content: "\e049";
}
.ico-film4:before {
	content: "\e04a";
}
.ico-camera5:before {
	content: "\e04b";
}
.ico-camera6:before {
	content: "\e04c";
}
.ico-camera7:before {
	content: "\e04d";
}
.ico-camera8:before {
	content: "\e04e";
}
.ico-camera9:before {
	content: "\e04f";
}
.ico-dice:before {
	content: "\e050";
}
.ico-gamepad:before {
	content: "\e051";
}
.ico-gamepad2:before {
	content: "\e052";
}
.ico-gamepad3:before {
	content: "\e053";
}
.ico-pacman:before {
	content: "\e054";
}
.ico-spades:before {
	content: "\e055";
}
.ico-clubs:before {
	content: "\e056";
}
.ico-diamonds:before {
	content: "\e057";
}
.ico-king:before {
	content: "\e058";
}
.ico-queen:before {
	content: "\e059";
}
.ico-rock:before {
	content: "\e05a";
}
.ico-bishop:before {
	content: "\e05b";
}
.ico-knight:before {
	content: "\e05c";
}
.ico-pawn:before {
	content: "\e05d";
}
.ico-chess:before {
	content: "\e05e";
}
.ico-bullhorn:before {
	content: "\e05f";
}
.ico-megaphone:before {
	content: "\e060";
}
.ico-new:before {
	content: "\e061";
}
.ico-connection:before {
	content: "\e062";
}
.ico-connection2:before {
	content: "\e063";
}
.ico-podcast:before {
	content: "\e064";
}
.ico-radio:before {
	content: "\e065";
}
.ico-feed:before {
	content: "\e066";
}
.ico-connection3:before {
	content: "\e067";
}
.ico-radio2:before {
	content: "\e068";
}
.ico-podcast2:before {
	content: "\e069";
}
.ico-podcast3:before {
	content: "\e06a";
}
.ico-mic:before {
	content: "\e06b";
}
.ico-mic2:before {
	content: "\e06c";
}
.ico-mic3:before {
	content: "\e06d";
}
.ico-mic4:before {
	content: "\e06e";
}
.ico-mic5:before {
	content: "\e06f";
}
.ico-book:before {
	content: "\e070";
}
.ico-book2:before {
	content: "\e071";
}
.ico-books:before {
	content: "\e072";
}
.ico-reading:before {
	content: "\e073";
}
.ico-library:before {
	content: "\e074";
}
.ico-library2:before {
	content: "\e075";
}
.ico-graduation:before {
	content: "\e076";
}
.ico-file:before {
	content: "\e077";
}
.ico-profile:before {
	content: "\e078";
}
.ico-file2:before {
	content: "\e079";
}
.ico-file3:before {
	content: "\e07a";
}
.ico-file4:before {
	content: "\e07b";
}
.ico-file5:before {
	content: "\e07c";
}
.ico-file6:before {
	content: "\e07d";
}
.ico-files:before {
	content: "\e07e";
}
.ico-file-plus:before {
	content: "\e07f";
}
.ico-file-minus:before {
	content: "\e080";
}
.ico-file-download:before {
	content: "\e081";
}
.ico-file-upload:before {
	content: "\e082";
}
.ico-file-check:before {
	content: "\e083";
}
.ico-file-remove:before {
	content: "\e084";
}
.ico-file7:before {
	content: "\e085";
}
.ico-file8:before {
	content: "\e086";
}
.ico-file-plus2:before {
	content: "\e087";
}
.ico-file-minus2:before {
	content: "\e088";
}
.ico-file-download2:before {
	content: "\e089";
}
.ico-file-upload2:before {
	content: "\e08a";
}
.ico-file-check2:before {
	content: "\e08b";
}
.ico-file-remove2:before {
	content: "\e08c";
}
.ico-file9:before {
	content: "\e08d";
}
.ico-copy:before {
	content: "\e08e";
}
.ico-copy2:before {
	content: "\e08f";
}
.ico-copy3:before {
	content: "\e090";
}
.ico-copy4:before {
	content: "\e091";
}
.ico-paste:before {
	content: "\e092";
}
.ico-paste2:before {
	content: "\e093";
}
.ico-paste3:before {
	content: "\e094";
}
.ico-stack:before {
	content: "\e095";
}
.ico-stack2:before {
	content: "\e096";
}
.ico-stack3:before {
	content: "\e097";
}
.ico-folder:before {
	content: "\e098";
}
.ico-folder-download:before {
	content: "\e099";
}
.ico-folder-upload:before {
	content: "\e09a";
}
.ico-folder-plus:before {
	content: "\e09b";
}
.ico-folder-plus2:before {
	content: "\e09c";
}
.ico-folder-minus:before {
	content: "\e09d";
}
.ico-folder-minus2:before {
	content: "\e09e";
}
.ico-folder8:before {
	content: "\e09f";
}
.ico-folder-remove:before {
	content: "\e0a0";
}
.ico-folder2:before {
	content: "\e0a1";
}
.ico-folder-open:before {
	content: "\e0a2";
}
.ico-folder3:before {
	content: "\e0a3";
}
.ico-folder4:before {
	content: "\e0a4";
}
.ico-folder-plus3:before {
	content: "\e0a5";
}
.ico-folder-minus3:before {
	content: "\e0a6";
}
.ico-folder-plus4:before {
	content: "\e0a7";
}
.ico-folder-remove2:before {
	content: "\e0a8";
}
.ico-folder-download2:before {
	content: "\e0a9";
}
.ico-folder-upload2:before {
	content: "\e0aa";
}
.ico-folder-download3:before {
	content: "\e0ab";
}
.ico-folder-upload3:before {
	content: "\e0ac";
}
.ico-folder5:before {
	content: "\e0ad";
}
.ico-folder-open2:before {
	content: "\e0ae";
}
.ico-folder6:before {
	content: "\e0af";
}
.ico-folder-open3:before {
	content: "\e0b0";
}
.ico-certificate:before {
	content: "\e0b1";
}
.ico-cc:before {
	content: "\e0b2";
}
.ico-tag:before {
	content: "\e0b3";
}
.ico-tag2:before {
	content: "\e0b4";
}
.ico-tag3:before {
	content: "\e0b5";
}
.ico-tag4:before {
	content: "\e0b6";
}
.ico-tag5:before {
	content: "\e0b7";
}
.ico-tag6:before {
	content: "\e0b8";
}
.ico-tag7:before {
	content: "\e0b9";
}
.ico-tags:before {
	content: "\e0ba";
}
.ico-tags2:before {
	content: "\e0bb";
}
.ico-tag8:before {
	content: "\e0bc";
}
.ico-barcode:before {
	content: "\e0bd";
}
.ico-barcode2:before {
	content: "\e0be";
}
.ico-qrcode:before {
	content: "\e0bf";
}
.ico-ticket:before {
	content: "\e0c0";
}
.ico-cart:before {
	content: "\e0c1";
}
.ico-cart2:before {
	content: "\e0c2";
}
.ico-cart3:before {
	content: "\e0c3";
}
.ico-cart4:before {
	content: "\e0c4";
}
.ico-cart5:before {
	content: "\e0c5";
}
.ico-cart6:before {
	content: "\e0c6";
}
.ico-cart7:before {
	content: "\e0c7";
}
.ico-cart-plus:before {
	content: "\e0c8";
}
.ico-cart-minus:before {
	content: "\e0c9";
}
.ico-cart-add:before {
	content: "\e0ca";
}
.ico-cart-remove:before {
	content: "\e0cb";
}
.ico-cart-checkout:before {
	content: "\e0cc";
}
.ico-cart-remove2:before {
	content: "\e0cd";
}
.ico-basket:before {
	content: "\e0ce";
}
.ico-basket2:before {
	content: "\e0cf";
}
.ico-bag:before {
	content: "\e0d0";
}
.ico-bag2:before {
	content: "\e0d1";
}
.ico-bag3:before {
	content: "\e0d2";
}
.ico-coin:before {
	content: "\e0d3";
}
.ico-coins:before {
	content: "\e0d4";
}
.ico-credit:before {
	content: "\e0d5";
}
.ico-credit2:before {
	content: "\e0d6";
}
.ico-calculate:before {
	content: "\e0d7";
}
.ico-calculate2:before {
	content: "\e0d8";
}
.ico-support:before {
	content: "\e0d9";
}
.ico-phone:before {
	content: "\e0da";
}
.ico-phone2:before {
	content: "\e0db";
}
.ico-phone3:before {
	content: "\e0dc";
}
.ico-phone4:before {
	content: "\e0dd";
}
.ico-contact-add:before {
	content: "\e0de";
}
.ico-contact-remove:before {
	content: "\e0df";
}
.ico-contact-add2:before {
	content: "\e0e0";
}
.ico-contact-remove2:before {
	content: "\e0e1";
}
.ico-call-incoming:before {
	content: "\e0e2";
}
.ico-call-outgoing:before {
	content: "\e0e3";
}
.ico-phone5:before {
	content: "\e0e4";
}
.ico-phone6:before {
	content: "\e0e5";
}
.ico-phone-hang-up:before {
	content: "\e0e6";
}
.ico-phone-hang-up2:before {
	content: "\e0e7";
}
.ico-address-book:before {
	content: "\e0e8";
}
.ico-address-book2:before {
	content: "\e0e9";
}
.ico-notebook:before {
	content: "\e0ea";
}
.ico-envelop:before {
	content: "\e0eb";
}
.ico-envelop2:before {
	content: "\e0ec";
}
.ico-mail-send:before {
	content: "\e0ed";
}
.ico-envelop-opened:before {
	content: "\e0ee";
}
.ico-envelop3:before {
	content: "\e0ef";
}
.ico-pushpin:before {
	content: "\e0f0";
}
.ico-location:before {
	content: "\e0f1";
}
.ico-location2:before {
	content: "\e0f2";
}
.ico-location3:before {
	content: "\e0f3";
}
.ico-location4:before {
	content: "\e0f4";
}
.ico-location5:before {
	content: "\e0f5";
}
.ico-location6:before {
	content: "\e0f6";
}
.ico-location7:before {
	content: "\e0f7";
}
.ico-compass:before {
	content: "\e0f8";
}
.ico-compass2:before {
	content: "\e0f9";
}
.ico-map:before {
	content: "\e0fa";
}
.ico-map2:before {
	content: "\e0fb";
}
.ico-map3:before {
	content: "\e0fc";
}
.ico-map4:before {
	content: "\e0fd";
}
.ico-direction:before {
	content: "\e0fe";
}
.ico-history:before {
	content: "\e0ff";
}
.ico-history2:before {
	content: "\e100";
}
.ico-clock:before {
	content: "\e101";
}
.ico-clock2:before {
	content: "\e102";
}
.ico-clock3:before {
	content: "\e103";
}
.ico-clock4:before {
	content: "\e104";
}
.ico-watch:before {
	content: "\e105";
}
.ico-clock5:before {
	content: "\e106";
}
.ico-clock6:before {
	content: "\e107";
}
.ico-clock7:before {
	content: "\e108";
}
.ico-alarm:before {
	content: "\e109";
}
.ico-alarm2:before {
	content: "\e10a";
}
.ico-bell:before {
	content: "\e10b";
}
.ico-bell2:before {
	content: "\e10c";
}
.ico-alarm-plus:before {
	content: "\e10d";
}
.ico-alarm-minus:before {
	content: "\e10e";
}
.ico-alarm-check:before {
	content: "\e10f";
}
.ico-alarm-cancel:before {
	content: "\e110";
}
.ico-stopwatch:before {
	content: "\e111";
}
.ico-calendar:before {
	content: "\e112";
}
.ico-calendar2:before {
	content: "\e113";
}
.ico-calendar3:before {
	content: "\e114";
}
.ico-calendar4:before {
	content: "\e115";
}
.ico-calendar5:before {
	content: "\e116";
}
.ico-print:before {
	content: "\e117";
}
.ico-print2:before {
	content: "\e118";
}
.ico-print3:before {
	content: "\e119";
}
.ico-mouse:before {
	content: "\e11a";
}
.ico-mouse2:before {
	content: "\e11b";
}
.ico-mouse3:before {
	content: "\e11c";
}
.ico-mouse4:before {
	content: "\e11d";
}
.ico-keyboard:before {
	content: "\e11e";
}
.ico-keyboard2:before {
	content: "\e11f";
}
.ico-screen:before {
	content: "\e120";
}
.ico-screen2:before {
	content: "\e121";
}
.ico-screen3:before {
	content: "\e122";
}
.ico-screen4:before {
	content: "\e123";
}
.ico-laptop:before {
	content: "\e124";
}
.ico-mobile:before {
	content: "\e125";
}
.ico-mobile2:before {
	content: "\e126";
}
.ico-tablet:before {
	content: "\e127";
}
.ico-mobile3:before {
	content: "\e128";
}
.ico-tv:before {
	content: "\e129";
}
.ico-cabinet:before {
	content: "\e12a";
}
.ico-archive:before {
	content: "\e12b";
}
.ico-drawer:before {
	content: "\e12c";
}
.ico-drawer2:before {
	content: "\e12d";
}
.ico-drawer3:before {
	content: "\e12e";
}
.ico-box:before {
	content: "\e12f";
}
.ico-box-add:before {
	content: "\e130";
}
.ico-box-remove:before {
	content: "\e131";
}
.ico-download:before {
	content: "\e132";
}
.ico-upload:before {
	content: "\e133";
}
.ico-disk:before {
	content: "\e134";
}
.ico-cd:before {
	content: "\e135";
}
.ico-storage:before {
	content: "\e136";
}
.ico-storage2:before {
	content: "\e137";
}
.ico-database:before {
	content: "\e138";
}
.ico-database2:before {
	content: "\e139";
}
.ico-database3:before {
	content: "\e13a";
}
.ico-undo:before {
	content: "\e13b";
}
.ico-redo:before {
	content: "\e13c";
}
.ico-rotate:before {
	content: "\e13d";
}
.ico-rotate2:before {
	content: "\e13e";
}
.ico-flip:before {
	content: "\e13f";
}
.ico-flip2:before {
	content: "\e140";
}
.ico-unite:before {
	content: "\e141";
}
.ico-subtract:before {
	content: "\e142";
}
.ico-interset:before {
	content: "\e143";
}
.ico-exclude:before {
	content: "\e144";
}
.ico-align-left:before {
	content: "\e145";
}
.ico-align-center-horizontal:before {
	content: "\e146";
}
.ico-align-right:before {
	content: "\e147";
}
.ico-align-top:before {
	content: "\e148";
}
.ico-align-center-vertical:before {
	content: "\e149";
}
.ico-align-bottom:before {
	content: "\e14a";
}
.ico-undo2:before {
	content: "\e14b";
}
.ico-redo2:before {
	content: "\e14c";
}
.ico-forward:before {
	content: "\e14d";
}
.ico-reply:before {
	content: "\e14e";
}
.ico-reply2:before {
	content: "\e14f";
}
.ico-bubble:before {
	content: "\e150";
}
.ico-bubbles:before {
	content: "\e151";
}
.ico-bubbles2:before {
	content: "\e152";
}
.ico-bubble2:before {
	content: "\e153";
}
.ico-bubbles3:before {
	content: "\e154";
}
.ico-bubbles4:before {
	content: "\e155";
}
.ico-bubble-notification:before {
	content: "\e156";
}
.ico-bubbles5:before {
	content: "\e157";
}
.ico-bubbles6:before {
	content: "\e158";
}
.ico-bubble3:before {
	content: "\e159";
}
.ico-bubble-dots:before {
	content: "\e15a";
}
.ico-bubble4:before {
	content: "\e15b";
}
.ico-bubble5:before {
	content: "\e15c";
}
.ico-bubble-dots2:before {
	content: "\e15d";
}
.ico-bubble6:before {
	content: "\e15e";
}
.ico-bubble7:before {
	content: "\e15f";
}
.ico-bubble8:before {
	content: "\e160";
}
.ico-bubbles7:before {
	content: "\e161";
}
.ico-bubble9:before {
	content: "\e162";
}
.ico-bubbles8:before {
	content: "\e163";
}
.ico-bubble10:before {
	content: "\e164";
}
.ico-bubble-dots3:before {
	content: "\e165";
}
.ico-bubble11:before {
	content: "\e166";
}
.ico-bubble12:before {
	content: "\e167";
}
.ico-bubble-dots4:before {
	content: "\e168";
}
.ico-glass:before {
	content: "\e600";
}
.ico-bubble13:before {
	content: "\e169";
}
.ico-music7:before {
	content: "\e601";
}
.ico-bubbles9:before {
	content: "\e16a";
}
.ico-search:before {
	content: "\e602";
}
.ico-bubbles10:before {
	content: "\e16b";
}
.ico-envelope:before {
	content: "\e603";
}
.ico-heart:before {
	content: "\e604";
}
.ico-bubble-blocked:before {
	content: "\e16c";
}
.ico-star:before {
	content: "\e605";
}
.ico-bubble-quote:before {
	content: "\e16d";
}
.ico-star-empty:before {
	content: "\e606";
}
.ico-bubble-user:before {
	content: "\e16e";
}
.ico-bubble-check:before {
	content: "\e16f";
}
.ico-user:before {
	content: "\e607";
}
.ico-bubble-video-chat:before {
	content: "\e170";
}
.ico-film5:before {
	content: "\e608";
}
.ico-bubble-link:before {
	content: "\e171";
}
.ico-th-large:before {
	content: "\e609";
}
.ico-th:before {
	content: "\e60a";
}
.ico-bubble-locked:before {
	content: "\e172";
}
.ico-th-list:before {
	content: "\e60b";
}
.ico-bubble-star:before {
	content: "\e173";
}
.ico-ok:before {
	content: "\e60c";
}
.ico-bubble-heart:before {
	content: "\e174";
}
.ico-remove:before {
	content: "\e60d";
}
.ico-bubble-paperclip:before {
	content: "\e175";
}
.ico-zoom-in:before {
	content: "\e60e";
}
.ico-bubble-cancel:before {
	content: "\e176";
}
.ico-zoom-out:before {
	content: "\e60f";
}
.ico-bubble-plus:before {
	content: "\e177";
}
.ico-off:before {
	content: "\e610";
}
.ico-bubble-minus:before {
	content: "\e178";
}
.ico-signal:before {
	content: "\e611";
}
.ico-bubble-notification2:before {
	content: "\e179";
}
.ico-cog:before {
	content: "\e612";
}
.ico-bubble-trash:before {
	content: "\e17a";
}
.ico-bubble-left:before {
	content: "\e17b";
}
.ico-trash:before {
	content: "\e613";
}
.ico-bubble-right:before {
	content: "\e17c";
}
.ico-home13:before {
	content: "\e614";
}
.ico-bubble-up:before {
	content: "\e17d";
}
.ico-file10:before {
	content: "\e615";
}
.ico-bubble-down:before {
	content: "\e17e";
}
.ico-time:before {
	content: "\e616";
}
.ico-road:before {
	content: "\e617";
}
.ico-bubble-first:before {
	content: "\e17f";
}
.ico-bubble-last:before {
	content: "\e180";
}
.ico-download-alt:before {
	content: "\e618";
}
.ico-bubble-replu:before {
	content: "\e181";
}
.ico-download2:before {
	content: "\e619";
}
.ico-bubble-forward:before {
	content: "\e182";
}
.ico-upload2:before {
	content: "\e61a";
}
.ico-bubble-reply:before {
	content: "\e183";
}
.ico-inbox:before {
	content: "\e61b";
}
.ico-bubble-forward2:before {
	content: "\e184";
}
.ico-play-circle:before {
	content: "\e61c";
}
.ico-repeat:before {
	content: "\e61d";
}
.ico-user2:before {
	content: "\e185";
}
.ico-refresh:before {
	content: "\e61e";
}
.ico-users:before {
	content: "\e186";
}
.ico-list-alt:before {
	content: "\e61f";
}
.ico-user-plus:before {
	content: "\e187";
}
.ico-lock:before {
	content: "\e620";
}
.ico-user-plus2:before {
	content: "\e188";
}
.ico-flag:before {
	content: "\e621";
}
.ico-user-minus:before {
	content: "\e189";
}
.ico-user-minus2:before {
	content: "\e18a";
}
.ico-headphones3:before {
	content: "\e622";
}
.ico-user-cancel:before {
	content: "\e18b";
}
.ico-volume-off:before {
	content: "\e623";
}
.ico-user-block:before {
	content: "\e18c";
}
.ico-volume-down:before {
	content: "\e624";
}
.ico-volume-up:before {
	content: "\e625";
}
.ico-users2:before {
	content: "\e18d";
}
.ico-qrcode2:before {
	content: "\e626";
}
.ico-user22:before {
	content: "\e18e";
}
.ico-barcode3:before {
	content: "\e627";
}
.ico-users3:before {
	content: "\e18f";
}
.ico-user-plus3:before {
	content: "\e190";
}
.ico-tag9:before {
	content: "\e628";
}
.ico-user-minus3:before {
	content: "\e191";
}
.ico-tags3:before {
	content: "\e629";
}
.ico-book3:before {
	content: "\e62a";
}
.ico-user-cancel2:before {
	content: "\e192";
}
.ico-bookmark:before {
	content: "\e62b";
}
.ico-user-block2:before {
	content: "\e193";
}
.ico-user3:before {
	content: "\e194";
}
.ico-print4:before {
	content: "\e62c";
}
.ico-camera10:before {
	content: "\e62d";
}
.ico-user4:before {
	content: "\e195";
}
.ico-font:before {
	content: "\e62e";
}
.ico-user5:before {
	content: "\e196";
}
.ico-user6:before {
	content: "\e197";
}
.ico-bold:before {
	content: "\e62f";
}
.ico-users4:before {
	content: "\e198";
}
.ico-italic:before {
	content: "\e630";
}
.ico-user7:before {
	content: "\e199";
}
.ico-text-height:before {
	content: "\e631";
}
.ico-text-width:before {
	content: "\e632";
}
.ico-user8:before {
	content: "\e19a";
}
.ico-align-left2:before {
	content: "\e633";
}
.ico-users5:before {
	content: "\e19b";
}
.ico-align-center:before {
	content: "\e634";
}
.ico-vcard:before {
	content: "\e19c";
}
.ico-tshirt:before {
	content: "\e19d";
}
.ico-align-right2:before {
	content: "\e635";
}
.ico-align-justify:before {
	content: "\e636";
}
.ico-hanger:before {
	content: "\e19e";
}
.ico-quotes-left:before {
	content: "\e19f";
}
.ico-list:before {
	content: "\e637";
}
.ico-quotes-right:before {
	content: "\e1a0";
}
.ico-indent-left:before {
	content: "\e638";
}
.ico-quotes-right2:before {
	content: "\e1a1";
}
.ico-indent-right:before {
	content: "\e639";
}
.ico-quotes-right3:before {
	content: "\e1a2";
}
.ico-facetime-video:before {
	content: "\e63a";
}
.ico-busy:before {
	content: "\e1a3";
}
.ico-picture:before {
	content: "\e63b";
}
.ico-busy2:before {
	content: "\e1a4";
}
.ico-pencil7:before {
	content: "\e63c";
}
.ico-map-marker:before {
	content: "\e63d";
}
.ico-busy3:before {
	content: "\e1a5";
}
.ico-adjust:before {
	content: "\e63e";
}
.ico-busy4:before {
	content: "\e1a6";
}
.ico-tint:before {
	content: "\e63f";
}
.ico-spinner:before {
	content: "\e1a7";
}
.ico-spinner2:before {
	content: "\e1a8";
}
.ico-edit:before {
	content: "\e640";
}
.ico-spinner3:before {
	content: "\e1a9";
}
.ico-share:before {
	content: "\e641";
}
.ico-spinner4:before {
	content: "\e1aa";
}
.ico-check:before {
	content: "\e642";
}
.ico-spinner5:before {
	content: "\e1ab";
}
.ico-move:before {
	content: "\e643";
}
.ico-spinner6:before {
	content: "\e1ac";
}
.ico-step-backward:before {
	content: "\e644";
}
.ico-spinner7:before {
	content: "\e1ad";
}
.ico-fast-backward:before {
	content: "\e645";
}
.ico-spinner8:before {
	content: "\e1ae";
}
.ico-backward:before {
	content: "\e646";
}
.ico-play3:before {
	content: "\e647";
}
.ico-spinner9:before {
	content: "\e1af";
}
.ico-pause:before {
	content: "\e648";
}
.ico-spinner10:before {
	content: "\e1b0";
}
.ico-spinner11:before {
	content: "\e1b1";
}
.ico-stop:before {
	content: "\e649";
}
.ico-spinner12:before {
	content: "\e1b2";
}
.ico-forward2:before {
	content: "\e64a";
}
.ico-microscope:before {
	content: "\e1b3";
}
.ico-fast-forward:before {
	content: "\e64b";
}
.ico-step-forward:before {
	content: "\e64c";
}
.ico-binoculars:before {
	content: "\e1b4";
}
.ico-binoculars2:before {
	content: "\e1b5";
}
.ico-eject:before {
	content: "\e64d";
}
.ico-search2:before {
	content: "\e1b6";
}
.ico-chevron-left:before {
	content: "\e64e";
}
.ico-search22:before {
	content: "\e1b7";
}
.ico-chevron-right:before {
	content: "\e64f";
}
.ico-zoom-in2:before {
	content: "\e1b8";
}
.ico-plus-sign:before {
	content: "\e650";
}
.ico-zoom-out2:before {
	content: "\e1b9";
}
.ico-minus-sign:before {
	content: "\e651";
}
.ico-search3:before {
	content: "\e1ba";
}
.ico-remove-sign:before {
	content: "\e652";
}
.ico-ok-sign:before {
	content: "\e653";
}
.ico-search4:before {
	content: "\e1bb";
}
.ico-question-sign:before {
	content: "\e654";
}
.ico-zoom-in22:before {
	content: "\e1bc";
}
.ico-info-sign:before {
	content: "\e655";
}
.ico-zoom-out22:before {
	content: "\e1bd";
}
.ico-screenshot:before {
	content: "\e656";
}
.ico-search5:before {
	content: "\e1be";
}
.ico-expand:before {
	content: "\e1bf";
}
.ico-remove-circle:before {
	content: "\e657";
}
.ico-contract:before {
	content: "\e1c0";
}
.ico-ok-circle:before {
	content: "\e658";
}
.ico-ban-circle:before {
	content: "\e659";
}
.ico-scale-up:before {
	content: "\e1c1";
}
.ico-arrow-left:before {
	content: "\e65a";
}
.ico-scale-down:before {
	content: "\e1c2";
}
.ico-arrow-right:before {
	content: "\e65b";
}
.ico-expand2:before {
	content: "\e1c3";
}
.ico-contract2:before {
	content: "\e1c4";
}
.ico-arrow-up:before {
	content: "\e65c";
}
.ico-arrow-down:before {
	content: "\e65d";
}
.ico-scale-up2:before {
	content: "\e1c5";
}
.ico-scale-down2:before {
	content: "\e1c6";
}
.ico-share-alt:before {
	content: "\e65e";
}
.ico-fullscreen:before {
	content: "\e1c7";
}
.ico-resize-full:before {
	content: "\e65f";
}
.ico-expand3:before {
	content: "\e1c8";
}
.ico-resize-small:before {
	content: "\e660";
}
.ico-contract3:before {
	content: "\e1c9";
}
.ico-plus:before {
	content: "\e661";
}
.ico-key:before {
	content: "\e1ca";
}
.ico-minus:before {
	content: "\e662";
}
.ico-asterisk:before {
	content: "\e663";
}
.ico-key2:before {
	content: "\e1cb";
}
.ico-exclamation-sign:before {
	content: "\e664";
}
.ico-key3:before {
	content: "\e1cc";
}
.ico-key4:before {
	content: "\e1cd";
}
.ico-gift:before {
	content: "\e665";
}
.ico-leaf:before {
	content: "\e666";
}
.ico-key5:before {
	content: "\e1ce";
}
.ico-fire:before {
	content: "\e667";
}
.ico-keyhole:before {
	content: "\e1cf";
}
.ico-eye-open:before {
	content: "\e668";
}
.ico-lock2:before {
	content: "\e1d0";
}
.ico-eye-close:before {
	content: "\e669";
}
.ico-lock22:before {
	content: "\e1d1";
}
.ico-warning-sign:before {
	content: "\e66a";
}
.ico-lock3:before {
	content: "\e1d2";
}
.ico-plane:before {
	content: "\e66b";
}
.ico-lock4:before {
	content: "\e1d3";
}
.ico-unlocked:before {
	content: "\e1d4";
}
.ico-calendar6:before {
	content: "\e66c";
}
.ico-lock5:before {
	content: "\e1d5";
}
.ico-random:before {
	content: "\e66d";
}
.ico-unlocked2:before {
	content: "\e1d6";
}
.ico-comment:before {
	content: "\e66e";
}
.ico-wrench:before {
	content: "\e1d7";
}
.ico-magnet:before {
	content: "\e66f";
}
.ico-wrench2:before {
	content: "\e1d8";
}
.ico-chevron-up:before {
	content: "\e670";
}
.ico-chevron-down:before {
	content: "\e671";
}
.ico-wrench3:before {
	content: "\e1d9";
}
.ico-wrench4:before {
	content: "\e1da";
}
.ico-retweet:before {
	content: "\e672";
}
.ico-settings:before {
	content: "\e1db";
}
.ico-shopping-cart:before {
	content: "\e673";
}
.ico-equalizer:before {
	content: "\e1dc";
}
.ico-folder-close:before {
	content: "\e674";
}
.ico-equalizer2:before {
	content: "\e1dd";
}
.ico-folder-open4:before {
	content: "\e675";
}
.ico-equalizer3:before {
	content: "\e1de";
}
.ico-resize-vertical:before {
	content: "\e676";
}
.ico-resize-horizontal:before {
	content: "\e677";
}
.ico-cog2:before {
	content: "\e1df";
}
.ico-bar-chart:before {
	content: "\e678";
}
.ico-cogs:before {
	content: "\e1e0";
}
.ico-cog22:before {
	content: "\e1e1";
}
.ico-twitter-sign:before {
	content: "\e679";
}
.ico-facebook-sign:before {
	content: "\e67a";
}
.ico-cog3:before {
	content: "\e1e2";
}
.ico-camera-retro:before {
	content: "\e67b";
}
.ico-cog4:before {
	content: "\e1e3";
}
.ico-key6:before {
	content: "\e67c";
}
.ico-cog5:before {
	content: "\e1e4";
}
.ico-cog6:before {
	content: "\e1e5";
}
.ico-cogs2:before {
	content: "\e67d";
}
.ico-cog7:before {
	content: "\e1e6";
}
.ico-comments:before {
	content: "\e67e";
}
.ico-factory:before {
	content: "\e1e7";
}
.ico-thumbs-up:before {
	content: "\e67f";
}
.ico-thumbs-down:before {
	content: "\e680";
}
.ico-hammer:before {
	content: "\e1e8";
}
.ico-tools:before {
	content: "\e1e9";
}
.ico-star-half:before {
	content: "\e681";
}
.ico-screwdriver:before {
	content: "\e1ea";
}
.ico-heart-empty:before {
	content: "\e682";
}
.ico-screwdriver2:before {
	content: "\e1eb";
}
.ico-signout:before {
	content: "\e683";
}
.ico-wand:before {
	content: "\e1ec";
}
.ico-linkedin-sign:before {
	content: "\e684";
}
.ico-wand2:before {
	content: "\e1ed";
}
.ico-pushpin2:before {
	content: "\e685";
}
.ico-external-link:before {
	content: "\e686";
}
.ico-health:before {
	content: "\e1ee";
}
.ico-signin:before {
	content: "\e687";
}
.ico-aid:before {
	content: "\e1ef";
}
.ico-trophy:before {
	content: "\e688";
}
.ico-patch:before {
	content: "\e1f0";
}
.ico-github-sign:before {
	content: "\e689";
}
.ico-bug:before {
	content: "\e1f1";
}
.ico-upload-alt:before {
	content: "\e68a";
}
.ico-bug2:before {
	content: "\e1f2";
}
.ico-inject:before {
	content: "\e1f3";
}
.ico-lemon:before {
	content: "\e68b";
}
.ico-inject2:before {
	content: "\e1f4";
}
.ico-phone7:before {
	content: "\e68c";
}
.ico-construction:before {
	content: "\e1f5";
}
.ico-check-empty:before {
	content: "\e68d";
}
.ico-cone:before {
	content: "\e1f6";
}
.ico-bookmark-empty:before {
	content: "\e68e";
}
.ico-pie:before {
	content: "\e1f7";
}
.ico-phone-sign:before {
	content: "\e68f";
}
.ico-twitter:before {
	content: "\e690";
}
.ico-pie2:before {
	content: "\e1f8";
}
.ico-pie3:before {
	content: "\e1f9";
}
.ico-facebook:before {
	content: "\e691";
}
.ico-pie4:before {
	content: "\e1fa";
}
.ico-github:before {
	content: "\e692";
}
.ico-pie5:before {
	content: "\e1fb";
}
.ico-unlock:before {
	content: "\e693";
}
.ico-credit3:before {
	content: "\e694";
}
.ico-pie6:before {
	content: "\e1fc";
}
.ico-rss:before {
	content: "\e695";
}
.ico-pie7:before {
	content: "\e1fd";
}
.ico-hdd:before {
	content: "\e696";
}
.ico-stats:before {
	content: "\e1fe";
}
.ico-stats2:before {
	content: "\e1ff";
}
.ico-bullhorn2:before {
	content: "\e697";
}
.ico-bell3:before {
	content: "\e698";
}
.ico-stats3:before {
	content: "\e200";
}
.ico-certificate2:before {
	content: "\e699";
}
.ico-bars:before {
	content: "\e201";
}
.ico-hand-right:before {
	content: "\e69a";
}
.ico-bars2:before {
	content: "\e202";
}
.ico-hand-left:before {
	content: "\e69b";
}
.ico-bars3:before {
	content: "\e203";
}
.ico-bars4:before {
	content: "\e204";
}
.ico-hand-up:before {
	content: "\e69c";
}
.ico-bars5:before {
	content: "\e205";
}
.ico-hand-down:before {
	content: "\e69d";
}
.ico-bars6:before {
	content: "\e206";
}
.ico-circle-arrow-left:before {
	content: "\e69e";
}
.ico-stats-up:before {
	content: "\e207";
}
.ico-circle-arrow-right:before {
	content: "\e69f";
}
.ico-stats-down:before {
	content: "\e208";
}
.ico-circle-arrow-up:before {
	content: "\e6a0";
}
.ico-stairs-down:before {
	content: "\e209";
}
.ico-circle-arrow-down:before {
	content: "\e6a1";
}
.ico-globe:before {
	content: "\e6a2";
}
.ico-stairs-down2:before {
	content: "\e20a";
}
.ico-chart:before {
	content: "\e20b";
}
.ico-wrench5:before {
	content: "\e6a3";
}
.ico-tasks:before {
	content: "\e6a4";
}
.ico-stairs:before {
	content: "\e20c";
}
.ico-filter:before {
	content: "\e6a5";
}
.ico-stairs2:before {
	content: "\e20d";
}
.ico-ladder:before {
	content: "\e20e";
}
.ico-briefcase:before {
	content: "\e6a6";
}
.ico-fullscreen2:before {
	content: "\e6a7";
}
.ico-cake:before {
	content: "\e20f";
}
.ico-group:before {
	content: "\e6a8";
}
.ico-gift2:before {
	content: "\e210";
}
.ico-link:before {
	content: "\e6a9";
}
.ico-gift22:before {
	content: "\e211";
}
.ico-balloon:before {
	content: "\e212";
}
.ico-cloud:before {
	content: "\e6aa";
}
.ico-beaker:before {
	content: "\e6ab";
}
.ico-rating:before {
	content: "\e213";
}
.ico-cut:before {
	content: "\e6ac";
}
.ico-rating2:before {
	content: "\e214";
}
.ico-copy5:before {
	content: "\e6ad";
}
.ico-rating3:before {
	content: "\e215";
}
.ico-paper-clip:before {
	content: "\e6ae";
}
.ico-podium:before {
	content: "\e216";
}
.ico-medal:before {
	content: "\e217";
}
.ico-save:before {
	content: "\e6af";
}
.ico-medal2:before {
	content: "\e218";
}
.ico-sign-blank:before {
	content: "\e6b0";
}
.ico-reorder:before {
	content: "\e6b1";
}
.ico-medal3:before {
	content: "\e219";
}
.ico-list-ul:before {
	content: "\e6b2";
}
.ico-medal4:before {
	content: "\e21a";
}
.ico-medal5:before {
	content: "\e21b";
}
.ico-list-ol:before {
	content: "\e6b3";
}
.ico-strikethrough:before {
	content: "\e6b4";
}
.ico-crown:before {
	content: "\e21c";
}
.ico-trophy2:before {
	content: "\e21d";
}
.ico-underline:before {
	content: "\e6b5";
}
.ico-trophy22:before {
	content: "\e21e";
}
.ico-table:before {
	content: "\e6b6";
}
.ico-magic:before {
	content: "\e6b7";
}
.ico-trophy-star:before {
	content: "\e21f";
}
.ico-truck:before {
	content: "\e6b8";
}
.ico-diamond:before {
	content: "\e220";
}
.ico-diamond2:before {
	content: "\e221";
}
.ico-pinterest:before {
	content: "\e6b9";
}
.ico-glass2:before {
	content: "\e222";
}
.ico-pinterest-sign:before {
	content: "\e6ba";
}
.ico-google-plus-sign:before {
	content: "\e6bb";
}
.ico-glass22:before {
	content: "\e223";
}
.ico-bottle:before {
	content: "\e224";
}
.ico-google-plus:before {
	content: "\e6bc";
}
.ico-bottle2:before {
	content: "\e225";
}
.ico-money:before {
	content: "\e6bd";
}
.ico-caret-down:before {
	content: "\e6be";
}
.ico-mug:before {
	content: "\e226";
}
.ico-food:before {
	content: "\e227";
}
.ico-caret-up:before {
	content: "\e6bf";
}
.ico-caret-left:before {
	content: "\e6c0";
}
.ico-food2:before {
	content: "\e228";
}
.ico-caret-right:before {
	content: "\e6c1";
}
.ico-hamburger:before {
	content: "\e229";
}
.ico-cup:before {
	content: "\e22a";
}
.ico-columns:before {
	content: "\e6c2";
}
.ico-sort:before {
	content: "\e6c3";
}
.ico-cup2:before {
	content: "\e22b";
}
.ico-sort-down:before {
	content: "\e6c4";
}
.ico-leaf2:before {
	content: "\e22c";
}
.ico-leaf22:before {
	content: "\e22d";
}
.ico-sort-up:before {
	content: "\e6c5";
}
.ico-envelope-alt:before {
	content: "\e6c6";
}
.ico-apple-fruit:before {
	content: "\e22e";
}
.ico-linkedin:before {
	content: "\e6c7";
}
.ico-tree:before {
	content: "\e22f";
}
.ico-undo3:before {
	content: "\e6c8";
}
.ico-tree2:before {
	content: "\e230";
}
.ico-legal:before {
	content: "\e6c9";
}
.ico-paw:before {
	content: "\e231";
}
.ico-dashboard:before {
	content: "\e6ca";
}
.ico-steps:before {
	content: "\e232";
}
.ico-flower:before {
	content: "\e233";
}
.ico-comment-alt:before {
	content: "\e6cb";
}
.ico-comments-alt:before {
	content: "\e6cc";
}
.ico-rocket:before {
	content: "\e234";
}
.ico-meter:before {
	content: "\e235";
}
.ico-bolt:before {
	content: "\e6cd";
}
.ico-sitemap:before {
	content: "\e6ce";
}
.ico-meter2:before {
	content: "\e236";
}
.ico-meter-slow:before {
	content: "\e237";
}
.ico-umbrella:before {
	content: "\e6cf";
}
.ico-paste4:before {
	content: "\e6d0";
}
.ico-meter-medium:before {
	content: "\e238";
}
.ico-meter-fast:before {
	content: "\e239";
}
.ico-lightbulb:before {
	content: "\e6d1";
}
.ico-exchange:before {
	content: "\e6d2";
}
.ico-dashboard2:before {
	content: "\e23a";
}
.ico-cloud-download:before {
	content: "\e6d3";
}
.ico-hammer2:before {
	content: "\e23b";
}
.ico-balance:before {
	content: "\e23c";
}
.ico-cloud-upload:before {
	content: "\e6d4";
}
.ico-user-md:before {
	content: "\e6d5";
}
.ico-bomb:before {
	content: "\e23d";
}
.ico-stethoscope:before {
	content: "\e6d6";
}
.ico-fire2:before {
	content: "\e23e";
}
.ico-suitcase:before {
	content: "\e6d7";
}
.ico-fire22:before {
	content: "\e23f";
}
.ico-bell-alt:before {
	content: "\e6d8";
}
.ico-lab:before {
	content: "\e240";
}
.ico-coffee:before {
	content: "\e6d9";
}
.ico-atom:before {
	content: "\e241";
}
.ico-atom2:before {
	content: "\e242";
}
.ico-food3:before {
	content: "\e6da";
}
.ico-magnet2:before {
	content: "\e243";
}
.ico-file-alt:before {
	content: "\e6db";
}
.ico-magnet22:before {
	content: "\e244";
}
.ico-building:before {
	content: "\e6dc";
}
.ico-magnet3:before {
	content: "\e245";
}
.ico-hospital:before {
	content: "\e6dd";
}
.ico-magnet4:before {
	content: "\e246";
}
.ico-ambulance:before {
	content: "\e6de";
}
.ico-dumbbell:before {
	content: "\e247";
}
.ico-medkit:before {
	content: "\e6df";
}
.ico-skull:before {
	content: "\e248";
}
.ico-fighter-jet:before {
	content: "\e6e0";
}
.ico-skull2:before {
	content: "\e249";
}
.ico-beer:before {
	content: "\e6e1";
}
.ico-h-sign:before {
	content: "\e6e2";
}
.ico-skull3:before {
	content: "\e24a";
}
.ico-plus-sign2:before {
	content: "\e6e3";
}
.ico-lamp:before {
	content: "\e24b";
}
.ico-lamp2:before {
	content: "\e24c";
}
.ico-double-angle-left:before {
	content: "\e6e4";
}
.ico-double-angle-right:before {
	content: "\e6e5";
}
.ico-lamp3:before {
	content: "\e24d";
}
.ico-double-angle-up:before {
	content: "\e6e6";
}
.ico-lamp4:before {
	content: "\e24e";
}
.ico-double-angle-down:before {
	content: "\e6e7";
}
.ico-remove2:before {
	content: "\e24f";
}
.ico-angle-left:before {
	content: "\e6e8";
}
.ico-remove22:before {
	content: "\e250";
}
.ico-remove3:before {
	content: "\e251";
}
.ico-angle-right:before {
	content: "\e6e9";
}
.ico-remove4:before {
	content: "\e252";
}
.ico-angle-up:before {
	content: "\e6ea";
}
.ico-angle-down:before {
	content: "\e6eb";
}
.ico-remove5:before {
	content: "\e253";
}
.ico-desktop:before {
	content: "\e6ec";
}
.ico-remove6:before {
	content: "\e254";
}
.ico-laptop2:before {
	content: "\e6ed";
}
.ico-remove7:before {
	content: "\e255";
}
.ico-tablet2:before {
	content: "\e6ee";
}
.ico-remove8:before {
	content: "\e256";
}
.ico-briefcase2:before {
	content: "\e257";
}
.ico-mobile4:before {
	content: "\e6ef";
}
.ico-circle-blank:before {
	content: "\e6f0";
}
.ico-briefcase22:before {
	content: "\e258";
}
.ico-quote-left:before {
	content: "\e6f1";
}
.ico-briefcase3:before {
	content: "\e259";
}
.ico-quote-right:before {
	content: "\e6f2";
}
.ico-airplane:before {
	content: "\e25a";
}
.ico-airplane2:before {
	content: "\e25b";
}
.ico-spinner13:before {
	content: "\e6f3";
}
.ico-circle:before {
	content: "\e6f4";
}
.ico-paper-plane:before {
	content: "\e25c";
}
.ico-car:before {
	content: "\e25d";
}
.ico-reply3:before {
	content: "\e6f5";
}
.ico-github-alt:before {
	content: "\e6f6";
}
.ico-gas-pump:before {
	content: "\e25e";
}
.ico-bus:before {
	content: "\e25f";
}
.ico-folder-close-alt:before {
	content: "\e6f7";
}
.ico-folder-open-alt:before {
	content: "\e6f8";
}
.ico-truck2:before {
	content: "\e260";
}
.ico-bike:before {
	content: "\e261";
}
.ico-expand-alt:before {
	content: "\e6f9";
}
.ico-road2:before {
	content: "\e262";
}
.ico-collapse-alt:before {
	content: "\e6fa";
}
.ico-smile:before {
	content: "\e6fb";
}
.ico-train:before {
	content: "\e263";
}
.ico-ship:before {
	content: "\e264";
}
.ico-frown:before {
	content: "\e6fc";
}
.ico-meh:before {
	content: "\e6fd";
}
.ico-boat:before {
	content: "\e265";
}
.ico-cube:before {
	content: "\e266";
}
.ico-gamepad4:before {
	content: "\e6fe";
}
.ico-cube2:before {
	content: "\e267";
}
.ico-keyboard3:before {
	content: "\e6ff";
}
.ico-cube3:before {
	content: "\e268";
}
.ico-flag-alt:before {
	content: "\e700";
}
.ico-cube4:before {
	content: "\e269";
}
.ico-flag-checkered:before {
	content: "\e701";
}
.ico-pyramid:before {
	content: "\e26a";
}
.ico-terminal:before {
	content: "\e702";
}
.ico-code:before {
	content: "\e703";
}
.ico-pyramid2:before {
	content: "\e26b";
}
.ico-reply-all:before {
	content: "\e704";
}
.ico-cylinder:before {
	content: "\e26c";
}
.ico-star-half-full:before {
	content: "\e705";
}
.ico-package:before {
	content: "\e26d";
}
.ico-puzzle:before {
	content: "\e26e";
}
.ico-location-arrow:before {
	content: "\e706";
}
.ico-crop:before {
	content: "\e707";
}
.ico-puzzle2:before {
	content: "\e26f";
}
.ico-code-fork:before {
	content: "\e708";
}
.ico-puzzle3:before {
	content: "\e270";
}
.ico-unlink:before {
	content: "\e709";
}
.ico-puzzle4:before {
	content: "\e271";
}
.ico-glasses:before {
	content: "\e272";
}
.ico-question:before {
	content: "\e70a";
}
.ico-info:before {
	content: "\e70b";
}
.ico-glasses2:before {
	content: "\e273";
}
.ico-exclamation:before {
	content: "\e70c";
}
.ico-glasses3:before {
	content: "\e274";
}
.ico-superscript:before {
	content: "\e70d";
}
.ico-sun-glasses:before {
	content: "\e275";
}
.ico-accessibility:before {
	content: "\e276";
}
.ico-subscript:before {
	content: "\e70e";
}
.ico-accessibility2:before {
	content: "\e277";
}
.ico-eraser:before {
	content: "\e70f";
}
.ico-puzzle5:before {
	content: "\e710";
}
.ico-brain:before {
	content: "\e278";
}
.ico-microphone:before {
	content: "\e711";
}
.ico-target:before {
	content: "\e279";
}
.ico-target2:before {
	content: "\e27a";
}
.ico-microphone-off:before {
	content: "\e712";
}
.ico-target3:before {
	content: "\e27b";
}
.ico-shield:before {
	content: "\e713";
}
.ico-gun:before {
	content: "\e27c";
}
.ico-calendar-empty:before {
	content: "\e714";
}
.ico-gun-ban:before {
	content: "\e27d";
}
.ico-fire-extinguisher:before {
	content: "\e715";
}
.ico-shield2:before {
	content: "\e27e";
}
.ico-rocket2:before {
	content: "\e716";
}
.ico-shield22:before {
	content: "\e27f";
}
.ico-maxcdn:before {
	content: "\e717";
}
.ico-shield3:before {
	content: "\e280";
}
.ico-chevron-sign-left:before {
	content: "\e718";
}
.ico-shield4:before {
	content: "\e281";
}
.ico-chevron-sign-right:before {
	content: "\e719";
}
.ico-chevron-sign-up:before {
	content: "\e71a";
}
.ico-soccer:before {
	content: "\e282";
}
.ico-football:before {
	content: "\e283";
}
.ico-chevron-sign-down:before {
	content: "\e71b";
}
.ico-baseball:before {
	content: "\e284";
}
.ico-html5:before {
	content: "\e71c";
}
.ico-basketball:before {
	content: "\e285";
}
.ico-css3:before {
	content: "\e71d";
}
.ico-golf:before {
	content: "\e286";
}
.ico-anchor:before {
	content: "\e71e";
}
.ico-hockey:before {
	content: "\e287";
}
.ico-unlock-alt:before {
	content: "\e71f";
}
.ico-racing:before {
	content: "\e288";
}
.ico-bullseye:before {
	content: "\e720";
}
.ico-eight-ball:before {
	content: "\e289";
}
.ico-ellipsis-horizontal:before {
	content: "\e721";
}
.ico-ellipsis-vertical:before {
	content: "\e722";
}
.ico-bowling-ball:before {
	content: "\e28a";
}
.ico-bowling:before {
	content: "\e28b";
}
.ico-rss-sign:before {
	content: "\e723";
}
.ico-play-sign:before {
	content: "\e724";
}
.ico-bowling2:before {
	content: "\e28c";
}
.ico-lightning:before {
	content: "\e28d";
}
.ico-ticket2:before {
	content: "\e725";
}
.ico-power:before {
	content: "\e28e";
}
.ico-minus-sign-alt:before {
	content: "\e726";
}
.ico-power2:before {
	content: "\e28f";
}
.ico-check-minus:before {
	content: "\e727";
}
.ico-switch:before {
	content: "\e290";
}
.ico-level-up:before {
	content: "\e728";
}
.ico-power-cord:before {
	content: "\e291";
}
.ico-level-down:before {
	content: "\e729";
}
.ico-cord:before {
	content: "\e292";
}
.ico-check-sign:before {
	content: "\e72a";
}
.ico-socket:before {
	content: "\e293";
}
.ico-edit-sign:before {
	content: "\e72b";
}
.ico-clipboard:before {
	content: "\e294";
}
.ico-external-link-sign:before {
	content: "\e72c";
}
.ico-clipboard2:before {
	content: "\e295";
}
.ico-share-sign:before {
	content: "\e72d";
}
.ico-signup:before {
	content: "\e296";
}
.ico-compass3:before {
	content: "\e72e";
}
.ico-clipboard3:before {
	content: "\e297";
}
.ico-collapse:before {
	content: "\e72f";
}
.ico-clipboard4:before {
	content: "\e298";
}
.ico-collapse-top:before {
	content: "\e730";
}
.ico-list2:before {
	content: "\e299";
}
.ico-expand4:before {
	content: "\e731";
}
.ico-list22:before {
	content: "\e29a";
}
.ico-euro:before {
	content: "\e732";
}
.ico-list3:before {
	content: "\e29b";
}
.ico-gbp:before {
	content: "\e733";
}
.ico-numbered-list:before {
	content: "\e29c";
}
.ico-dollar:before {
	content: "\e734";
}
.ico-rupee:before {
	content: "\e735";
}
.ico-list4:before {
	content: "\e29d";
}
.ico-yen:before {
	content: "\e736";
}
.ico-list5:before {
	content: "\e29e";
}
.ico-renminbi:before {
	content: "\e737";
}
.ico-playlist:before {
	content: "\e29f";
}
.ico-grid:before {
	content: "\e2a0";
}
.ico-won:before {
	content: "\e738";
}
.ico-bitcoin:before {
	content: "\e739";
}
.ico-grid2:before {
	content: "\e2a1";
}
.ico-grid3:before {
	content: "\e2a2";
}
.ico-file11:before {
	content: "\e73a";
}
.ico-grid4:before {
	content: "\e2a3";
}
.ico-file-text:before {
	content: "\e73b";
}
.ico-grid5:before {
	content: "\e2a4";
}
.ico-sort-by-alphabet:before {
	content: "\e73c";
}
.ico-sort-by-alphabet-alt:before {
	content: "\e73d";
}
.ico-grid6:before {
	content: "\e2a5";
}
.ico-sort-by-attributes:before {
	content: "\e73e";
}
.ico-tree3:before {
	content: "\e2a6";
}
.ico-sort-by-attributes-alt:before {
	content: "\e73f";
}
.ico-tree4:before {
	content: "\e2a7";
}
.ico-sort-by-order:before {
	content: "\e740";
}
.ico-tree5:before {
	content: "\e2a8";
}
.ico-sort-by-order-alt:before {
	content: "\e741";
}
.ico-menu:before {
	content: "\e2a9";
}
.ico-thumbs-up2:before {
	content: "\e742";
}
.ico-menu2:before {
	content: "\e2aa";
}
.ico-thumbs-down2:before {
	content: "\e743";
}
.ico-circle-small:before {
	content: "\e2ab";
}
.ico-menu3:before {
	content: "\e2ac";
}
.ico-youtube-sign:before {
	content: "\e744";
}
.ico-menu4:before {
	content: "\e2ad";
}
.ico-youtube:before {
	content: "\e745";
}
.ico-xing:before {
	content: "\e746";
}
.ico-menu5:before {
	content: "\e2ae";
}
.ico-menu6:before {
	content: "\e2af";
}
.ico-xing-sign:before {
	content: "\e747";
}
.ico-youtube-play:before {
	content: "\e748";
}
.ico-menu7:before {
	content: "\e2b0";
}
.ico-menu8:before {
	content: "\e2b1";
}
.ico-dropbox:before {
	content: "\e749";
}
.ico-stackexchange:before {
	content: "\e74a";
}
.ico-menu9:before {
	content: "\e2b2";
}
.ico-instagram:before {
	content: "\e74b";
}
.ico-cloud2:before {
	content: "\e2b3";
}
.ico-flickr:before {
	content: "\e74c";
}
.ico-cloud22:before {
	content: "\e2b4";
}
.ico-cloud3:before {
	content: "\e2b5";
}
.ico-adn:before {
	content: "\e74d";
}
.ico-cloud-download2:before {
	content: "\e2b6";
}
.ico-bitbucket:before {
	content: "\e74e";
}
.ico-cloud-upload2:before {
	content: "\e2b7";
}
.ico-bitbucket-sign:before {
	content: "\e74f";
}
.ico-tumblr:before {
	content: "\e750";
}
.ico-download22:before {
	content: "\e2b8";
}
.ico-tumblr-sign:before {
	content: "\e751";
}
.ico-upload22:before {
	content: "\e2b9";
}
.ico-long-arrow-down:before {
	content: "\e752";
}
.ico-download3:before {
	content: "\e2ba";
}
.ico-long-arrow-up:before {
	content: "\e753";
}
.ico-upload3:before {
	content: "\e2bb";
}
.ico-download4:before {
	content: "\e2bc";
}
.ico-long-arrow-left:before {
	content: "\e754";
}
.ico-upload4:before {
	content: "\e2bd";
}
.ico-long-arrow-right:before {
	content: "\e755";
}
.ico-download5:before {
	content: "\e2be";
}
.ico-apple:before {
	content: "\e756";
}
.ico-upload5:before {
	content: "\e2bf";
}
.ico-windows:before {
	content: "\e757";
}
.ico-download6:before {
	content: "\e2c0";
}
.ico-android:before {
	content: "\e758";
}
.ico-upload6:before {
	content: "\e2c1";
}
.ico-linux:before {
	content: "\e759";
}
.ico-download7:before {
	content: "\e2c2";
}
.ico-dribbble:before {
	content: "\e75a";
}
.ico-upload7:before {
	content: "\e2c3";
}
.ico-skype:before {
	content: "\e75b";
}
.ico-globe2:before {
	content: "\e2c4";
}
.ico-foursquare:before {
	content: "\e75c";
}
.ico-globe22:before {
	content: "\e2c5";
}
.ico-trello:before {
	content: "\e75d";
}
.ico-globe3:before {
	content: "\e2c6";
}
.ico-female:before {
	content: "\e75e";
}
.ico-earth:before {
	content: "\e2c7";
}
.ico-male:before {
	content: "\e75f";
}
.ico-network:before {
	content: "\e2c8";
}
.ico-gittip:before {
	content: "\e760";
}
.ico-link2:before {
	content: "\e2c9";
}
.ico-sun:before {
	content: "\e761";
}
.ico-link22:before {
	content: "\e2ca";
}
.ico-moon:before {
	content: "\e762";
}
.ico-archive2:before {
	content: "\e763";
}
.ico-link3:before {
	content: "\e2cb";
}
.ico-bug3:before {
	content: "\e764";
}
.ico-link222:before {
	content: "\e2cc";
}
.ico-vk:before {
	content: "\e765";
}
.ico-link4:before {
	content: "\e2cd";
}
.ico-weibo:before {
	content: "\e766";
}
.ico-link5:before {
	content: "\e2ce";
}
.ico-link6:before {
	content: "\e2cf";
}
.ico-renren:before {
	content: "\e767";
}
.ico-anchor2:before {
	content: "\e2d0";
}
.ico-flag2:before {
	content: "\e2d1";
}
.ico-flag22:before {
	content: "\e2d2";
}
.ico-flag3:before {
	content: "\e2d3";
}
.ico-flag4:before {
	content: "\e2d4";
}
.ico-flag5:before {
	content: "\e2d5";
}
.ico-flag6:before {
	content: "\e2d6";
}
.ico-attachment:before {
	content: "\e2d7";
}
.ico-attachment2:before {
	content: "\e2d8";
}
.ico-eye:before {
	content: "\e2d9";
}
.ico-eye-blocked:before {
	content: "\e2da";
}
.ico-eye2:before {
	content: "\e2db";
}
.ico-eye3:before {
	content: "\e2dc";
}
.ico-eye-blocked2:before {
	content: "\e2dd";
}
.ico-eye4:before {
	content: "\e2de";
}
.ico-eye5:before {
	content: "\e2df";
}
.ico-eye6:before {
	content: "\e2e0";
}
.ico-eye7:before {
	content: "\e2e1";
}
.ico-eye8:before {
	content: "\e2e2";
}
.ico-bookmark2:before {
	content: "\e2e3";
}
.ico-bookmark22:before {
	content: "\e2e4";
}
.ico-bookmarks:before {
	content: "\e2e5";
}
.ico-bookmark3:before {
	content: "\e2e6";
}
.ico-spotlight:before {
	content: "\e2e7";
}
.ico-starburst:before {
	content: "\e2e8";
}
.ico-snowflake:before {
	content: "\e2e9";
}
.ico-temperature:before {
	content: "\e2ea";
}
.ico-temperature2:before {
	content: "\e2eb";
}
.ico-weather-lightning:before {
	content: "\e2ec";
}
.ico-weather-rain:before {
	content: "\e2ed";
}
.ico-weather-snow:before {
	content: "\e2ee";
}
.ico-windy:before {
	content: "\e2ef";
}
.ico-fan:before {
	content: "\e2f0";
}
.ico-umbrella2:before {
	content: "\e2f1";
}
.ico-sun2:before {
	content: "\e2f2";
}
.ico-sun22:before {
	content: "\e2f3";
}
.ico-brightness-high:before {
	content: "\e2f4";
}
.ico-brightness-medium:before {
	content: "\e2f5";
}
.ico-brightness-low:before {
	content: "\e2f6";
}
.ico-brightness-contrast:before {
	content: "\e2f7";
}
.ico-contrast:before {
	content: "\e2f8";
}
.ico-moon2:before {
	content: "\e2f9";
}
.ico-bed:before {
	content: "\e2fa";
}
.ico-bed2:before {
	content: "\e2fb";
}
.ico-star2:before {
	content: "\e2fc";
}
.ico-star22:before {
	content: "\e2fd";
}
.ico-star3:before {
	content: "\e2fe";
}
.ico-star4:before {
	content: "\e2ff";
}
.ico-star5:before {
	content: "\e300";
}
.ico-star6:before {
	content: "\e301";
}
.ico-heart2:before {
	content: "\e302";
}
.ico-heart22:before {
	content: "\e303";
}
.ico-heart3:before {
	content: "\e304";
}
.ico-heart4:before {
	content: "\e305";
}
.ico-heart-broken:before {
	content: "\e306";
}
.ico-heart5:before {
	content: "\e307";
}
.ico-heart6:before {
	content: "\e308";
}
.ico-heart-broken2:before {
	content: "\e309";
}
.ico-heart7:before {
	content: "\e30a";
}
.ico-heart8:before {
	content: "\e30b";
}
.ico-heart-broken3:before {
	content: "\e30c";
}
.ico-lips:before {
	content: "\e30d";
}
.ico-lips2:before {
	content: "\e30e";
}
.ico-thumbs-up3:before {
	content: "\e30f";
}
.ico-thumbs-up22:before {
	content: "\e310";
}
.ico-thumbs-down3:before {
	content: "\e311";
}
.ico-thumbs-down22:before {
	content: "\e312";
}
.ico-thumbs-up32:before {
	content: "\e313";
}
.ico-thumbs-up4:before {
	content: "\e314";
}
.ico-thumbs-up5:before {
	content: "\e315";
}
.ico-thumbs-up6:before {
	content: "\e316";
}
.ico-people:before {
	content: "\e317";
}
.ico-man:before {
	content: "\e318";
}
.ico-male2:before {
	content: "\e319";
}
.ico-woman:before {
	content: "\e31a";
}
.ico-female2:before {
	content: "\e31b";
}
.ico-peace:before {
	content: "\e31c";
}
.ico-yin-yang:before {
	content: "\e31d";
}
.ico-happy:before {
	content: "\e31e";
}
.ico-happy2:before {
	content: "\e31f";
}
.ico-smiley:before {
	content: "\e320";
}
.ico-smiley2:before {
	content: "\e321";
}
.ico-tongue:before {
	content: "\e322";
}
.ico-tongue2:before {
	content: "\e323";
}
.ico-sad:before {
	content: "\e324";
}
.ico-sad2:before {
	content: "\e325";
}
.ico-wink:before {
	content: "\e326";
}
.ico-wink2:before {
	content: "\e327";
}
.ico-grin:before {
	content: "\e328";
}
.ico-grin2:before {
	content: "\e329";
}
.ico-cool:before {
	content: "\e32a";
}
.ico-cool2:before {
	content: "\e32b";
}
.ico-angry:before {
	content: "\e32c";
}
.ico-angry2:before {
	content: "\e32d";
}
.ico-evil:before {
	content: "\e32e";
}
.ico-evil2:before {
	content: "\e32f";
}
.ico-shocked:before {
	content: "\e330";
}
.ico-shocked2:before {
	content: "\e331";
}
.ico-confused:before {
	content: "\e332";
}
.ico-confused2:before {
	content: "\e333";
}
.ico-neutral:before {
	content: "\e334";
}
.ico-neutral2:before {
	content: "\e335";
}
.ico-wondering:before {
	content: "\e336";
}
.ico-wondering2:before {
	content: "\e337";
}
.ico-cursor:before {
	content: "\e338";
}
.ico-cursor2:before {
	content: "\e339";
}
.ico-point-up:before {
	content: "\e33a";
}
.ico-point-right:before {
	content: "\e33b";
}
.ico-point-down:before {
	content: "\e33c";
}
.ico-point-left:before {
	content: "\e33d";
}
.ico-pointer:before {
	content: "\e33e";
}
.ico-hand:before {
	content: "\e33f";
}
.ico-stack-empty:before {
	content: "\e340";
}
.ico-stack-plus:before {
	content: "\e341";
}
.ico-stack-minus:before {
	content: "\e342";
}
.ico-stack-star:before {
	content: "\e343";
}
.ico-stack-picture:before {
	content: "\e344";
}
.ico-stack-down:before {
	content: "\e345";
}
.ico-stack-up:before {
	content: "\e346";
}
.ico-stack-cancel:before {
	content: "\e347";
}
.ico-stack-checkmark:before {
	content: "\e348";
}
.ico-stack-list:before {
	content: "\e349";
}
.ico-stack-clubs:before {
	content: "\e34a";
}
.ico-stack-spades:before {
	content: "\e34b";
}
.ico-stack-hearts:before {
	content: "\e34c";
}
.ico-stack-diamonds:before {
	content: "\e34d";
}
.ico-stack-user:before {
	content: "\e34e";
}
.ico-stack4:before {
	content: "\e34f";
}
.ico-stack-music:before {
	content: "\e350";
}
.ico-stack-play:before {
	content: "\e351";
}
.ico-move2:before {
	content: "\e352";
}
.ico-resize:before {
	content: "\e353";
}
.ico-resize2:before {
	content: "\e354";
}
.ico-warning:before {
	content: "\e355";
}
.ico-warning2:before {
	content: "\e356";
}
.ico-notification:before {
	content: "\e357";
}
.ico-notification2:before {
	content: "\e358";
}
.ico-question2:before {
	content: "\e359";
}
.ico-question22:before {
	content: "\e35a";
}
.ico-question3:before {
	content: "\e35b";
}
.ico-question4:before {
	content: "\e35c";
}
.ico-question5:before {
	content: "\e35d";
}
.ico-plus-circle:before {
	content: "\e35e";
}
.ico-plus-circle2:before {
	content: "\e35f";
}
.ico-minus-circle:before {
	content: "\e360";
}
.ico-minus-circle2:before {
	content: "\e361";
}
.ico-info2:before {
	content: "\e362";
}
.ico-info22:before {
	content: "\e363";
}
.ico-blocked:before {
	content: "\e364";
}
.ico-cancel-circle:before {
	content: "\e365";
}
.ico-cancel-circle2:before {
	content: "\e366";
}
.ico-checkmark-circle:before {
	content: "\e367";
}
.ico-checkmark-circle2:before {
	content: "\e368";
}
.ico-cancel:before {
	content: "\e369";
}
.ico-close:before {
	content: "\e36b";
}
.ico-close2:before {
	content: "\e36c";
}
.ico-close3:before {
	content: "\e36d";
}
.ico-close4:before {
	content: "\e36e";
}
.ico-checkmark:before {
	content: "\e370";
}
.ico-checkmark2:before {
	content: "\e371";
}
.ico-checkmark3:before {
	content: "\e372";
}
.ico-checkmark4:before {
	content: "\e373";
}
.ico-spell-check:before {
	content: "\e374";
}
.ico-minus2:before {
	content: "\e375";
}
.ico-plus2:before {
	content: "\e376";
}
.ico-minus22:before {
	content: "\e377";
}
.ico-plus22:before {
	content: "\e378";
}
.ico-enter:before {
	content: "\e379";
}
.ico-exit:before {
	content: "\e37a";
}
.ico-enter2:before {
	content: "\e37b";
}
.ico-exit2:before {
	content: "\e37c";
}
.ico-enter3:before {
	content: "\e37d";
}
.ico-exit3:before {
	content: "\e37e";
}
.ico-exit4:before {
	content: "\e37f";
}
.ico-play32:before {
	content: "\e380";
}
.ico-pause2:before {
	content: "\e381";
}
.ico-stop2:before {
	content: "\e382";
}
.ico-backward2:before {
	content: "\e383";
}
.ico-forward22:before {
	content: "\e384";
}
.ico-play4:before {
	content: "\e385";
}
.ico-pause22:before {
	content: "\e386";
}
.ico-stop22:before {
	content: "\e387";
}
.ico-backward22:before {
	content: "\e388";
}
.ico-forward3:before {
	content: "\e389";
}
.ico-first:before {
	content: "\e38a";
}
.ico-last:before {
	content: "\e38b";
}
.ico-previous:before {
	content: "\e38c";
}
.ico-next:before {
	content: "\e38d";
}
.ico-eject2:before {
	content: "\e38e";
}
.ico-volume-high:before {
	content: "\e38f";
}
.ico-volume-medium:before {
	content: "\e390";
}
.ico-volume-low:before {
	content: "\e391";
}
.ico-volume-mute:before {
	content: "\e392";
}
.ico-volume-mute2:before {
	content: "\e393";
}
.ico-volume-increase:before {
	content: "\e394";
}
.ico-volume-decrease:before {
	content: "\e395";
}
.ico-volume-high2:before {
	content: "\e396";
}
.ico-volume-medium2:before {
	content: "\e397";
}
.ico-volume-low2:before {
	content: "\e398";
}
.ico-volume-mute3:before {
	content: "\e399";
}
.ico-volume-mute4:before {
	content: "\e39a";
}
.ico-volume-increase2:before {
	content: "\e39b";
}
.ico-volume-decrease2:before {
	content: "\e39c";
}
.ico-volume5:before {
	content: "\e39d";
}
.ico-volume4:before {
	content: "\e39e";
}
.ico-volume3:before {
	content: "\e39f";
}
.ico-volume2:before {
	content: "\e3a0";
}
.ico-volume1:before {
	content: "\e3a1";
}
.ico-volume0:before {
	content: "\e3a2";
}
.ico-volume-mute5:before {
	content: "\e3a3";
}
.ico-volume-mute6:before {
	content: "\e3a4";
}
.ico-loop:before {
	content: "\e3a5";
}
.ico-loop2:before {
	content: "\e3a6";
}
.ico-loop3:before {
	content: "\e3a7";
}
.ico-loop4:before {
	content: "\e3a8";
}
.ico-loop5:before {
	content: "\e3a9";
}
.ico-shuffle:before {
	content: "\e3aa";
}
.ico-shuffle2:before {
	content: "\e3ab";
}
.ico-wave:before {
	content: "\e3ac";
}
.ico-wave2:before {
	content: "\e3ad";
}
.ico-arrow-first:before {
	content: "\e3ae";
}
.ico-arrow-right2:before {
	content: "\e3af";
}
.ico-arrow-up2:before {
	content: "\e3b0";
}
.ico-arrow-right22:before {
	content: "\e3b1";
}
.ico-arrow-down2:before {
	content: "\e3b2";
}
.ico-arrow-left2:before {
	content: "\e3b3";
}
.ico-arrow-up22:before {
	content: "\e3b4";
}
.ico-arrow-right3:before {
	content: "\e3b5";
}
.ico-arrow-down22:before {
	content: "\e3b6";
}
.ico-arrow-left22:before {
	content: "\e3b7";
}
.ico-arrow-up-left:before {
	content: "\e3b8";
}
.ico-arrow-up3:before {
	content: "\e3b9";
}
.ico-arrow-up-right:before {
	content: "\e3ba";
}
.ico-arrow-right4:before {
	content: "\e3bb";
}
.ico-arrow-down-right:before {
	content: "\e3bc";
}
.ico-arrow-down3:before {
	content: "\e3bd";
}
.ico-arrow-down-left:before {
	content: "\e3be";
}
.ico-arrow-left3:before {
	content: "\e3bf";
}
.ico-arrow-up-left2:before {
	content: "\e3c0";
}
.ico-arrow-up4:before {
	content: "\e3c1";
}
.ico-arrow-up-right2:before {
	content: "\e3c2";
}
.ico-arrow-right5:before {
	content: "\e3c3";
}
.ico-arrow-down-right2:before {
	content: "\e3c4";
}
.ico-arrow-down4:before {
	content: "\e3c5";
}
.ico-arrow-down-left2:before {
	content: "\e3c6";
}
.ico-arrow-left4:before {
	content: "\e3c7";
}
.ico-arrow-up-left3:before {
	content: "\e3c8";
}
.ico-arrow-up5:before {
	content: "\e3c9";
}
.ico-arrow-up-right3:before {
	content: "\e3ca";
}
.ico-arrow-right6:before {
	content: "\e3cb";
}
.ico-arrow-down-right3:before {
	content: "\e3cc";
}
.ico-arrow-down5:before {
	content: "\e3cd";
}
.ico-arrow-down-left3:before {
	content: "\e3ce";
}
.ico-arrow-left5:before {
	content: "\e3cf";
}
.ico-arrow-up-left4:before {
	content: "\e3d0";
}
.ico-arrow-up6:before {
	content: "\e3d1";
}
.ico-arrow-up-right4:before {
	content: "\e3d2";
}
.ico-arrow-right7:before {
	content: "\e3d3";
}
.ico-arrow-down-right4:before {
	content: "\e3d4";
}
.ico-arrow-down6:before {
	content: "\e3d5";
}
.ico-arrow-down-left4:before {
	content: "\e3d6";
}
.ico-arrow-left6:before {
	content: "\e3d7";
}
.ico-arrow:before {
	content: "\e3d8";
}
.ico-arrow2:before {
	content: "\e3d9";
}
.ico-arrow3:before {
	content: "\e3da";
}
.ico-arrow4:before {
	content: "\e3db";
}
.ico-arrow5:before {
	content: "\e3dc";
}
.ico-arrow6:before {
	content: "\e3dd";
}
.ico-arrow7:before {
	content: "\e3de";
}
.ico-arrow8:before {
	content: "\e3df";
}
.ico-arrow-up-left5:before {
	content: "\e3e0";
}
.ico-arrow-square:before {
	content: "\e3e1";
}
.ico-arrow-up-right5:before {
	content: "\e3e2";
}
.ico-arrow-right8:before {
	content: "\e3e3";
}
.ico-arrow-down-right5:before {
	content: "\e3e4";
}
.ico-arrow-down7:before {
	content: "\e3e5";
}
.ico-arrow-down-left5:before {
	content: "\e3e6";
}
.ico-arrow-left7:before {
	content: "\e3e7";
}
.ico-arrow-up7:before {
	content: "\e3e8";
}
.ico-arrow-right9:before {
	content: "\e3e9";
}
.ico-arrow-down8:before {
	content: "\e3ea";
}
.ico-arrow-left8:before {
	content: "\e3eb";
}
.ico-arrow-up8:before {
	content: "\e3ec";
}
.ico-arrow-right10:before {
	content: "\e3ed";
}
.ico-arrow-bottom:before {
	content: "\e3ee";
}
.ico-arrow-left9:before {
	content: "\e3ef";
}
.ico-arrow-up-left6:before {
	content: "\e3f0";
}
.ico-arrow-up9:before {
	content: "\e3f1";
}
.ico-arrow-up-right6:before {
	content: "\e3f2";
}
.ico-arrow-right11:before {
	content: "\e3f3";
}
.ico-arrow-down-right6:before {
	content: "\e3f4";
}
.ico-arrow-down9:before {
	content: "\e3f5";
}
.ico-arrow-down-left6:before {
	content: "\e3f6";
}
.ico-arrow-left10:before {
	content: "\e3f7";
}
.ico-arrow-up-left7:before {
	content: "\e3f8";
}
.ico-arrow-up10:before {
	content: "\e3f9";
}
.ico-arrow-up-right7:before {
	content: "\e3fa";
}
.ico-arrow-right12:before {
	content: "\e3fb";
}
.ico-arrow-down-right7:before {
	content: "\e3fc";
}
.ico-arrow-down10:before {
	content: "\e3fd";
}
.ico-arrow-down-left7:before {
	content: "\e3fe";
}
.ico-arrow-left11:before {
	content: "\e3ff";
}
.ico-arrow-up11:before {
	content: "\e400";
}
.ico-arrow-right13:before {
	content: "\e401";
}
.ico-arrow-down11:before {
	content: "\e402";
}
.ico-arrow-left12:before {
	content: "\e403";
}
.ico-arrow-up12:before {
	content: "\e404";
}
.ico-arrow-right14:before {
	content: "\e405";
}
.ico-arrow-down12:before {
	content: "\e406";
}
.ico-arrow-left13:before {
	content: "\e407";
}
.ico-arrow-up13:before {
	content: "\e408";
}
.ico-arrow-right15:before {
	content: "\e409";
}
.ico-arrow-down13:before {
	content: "\e40a";
}
.ico-arrow-left14:before {
	content: "\e40b";
}
.ico-arrow-up14:before {
	content: "\e40c";
}
.ico-arrow-right16:before {
	content: "\e40d";
}
.ico-arrow-down14:before {
	content: "\e40e";
}
.ico-arrow-left15:before {
	content: "\e40f";
}
.ico-arrow-up15:before {
	content: "\e410";
}
.ico-arrow-right17:before {
	content: "\e411";
}
.ico-arrow-down15:before {
	content: "\e412";
}
.ico-arrow-left16:before {
	content: "\e413";
}
.ico-arrow-up16:before {
	content: "\e414";
}
.ico-arrow-right18:before {
	content: "\e415";
}
.ico-arrow-down16:before {
	content: "\e416";
}
.ico-arrow-left17:before {
	content: "\e417";
}
.ico-menu10:before {
	content: "\e418";
}
.ico-menu11:before {
	content: "\e419";
}
.ico-menu-close:before {
	content: "\e41a";
}
.ico-menu-close2:before {
	content: "\e41b";
}
.ico-enter4:before {
	content: "\e41c";
}
.ico-enter5:before {
	content: "\e41d";
}
.ico-esc:before {
	content: "\e41e";
}
.ico-backspace:before {
	content: "\e41f";
}
.ico-backspace2:before {
	content: "\e420";
}
.ico-backspace3:before {
	content: "\e421";
}
.ico-tab:before {
	content: "\e422";
}
.ico-transmission:before {
	content: "\e423";
}
.ico-transmission2:before {
	content: "\e424";
}
.ico-sort2:before {
	content: "\e425";
}
.ico-sort22:before {
	content: "\e426";
}
.ico-key-keyboard:before {
	content: "\e427";
}
.ico-key-A:before {
	content: "\e428";
}
.ico-key-up:before {
	content: "\e429";
}
.ico-key-right:before {
	content: "\e42a";
}
.ico-key-down:before {
	content: "\e42b";
}
.ico-key-left:before {
	content: "\e42c";
}
.ico-command:before {
	content: "\e42d";
}
.ico-checkbox-checked:before {
	content: "\e42e";
}
.ico-checkbox-unchecked:before {
	content: "\e42f";
}
.ico-square:before {
	content: "\e430";
}
.ico-checkbox-partial:before {
	content: "\e431";
}
.ico-checkbox:before {
	content: "\e432";
}
.ico-checkbox-unchecked2:before {
	content: "\e433";
}
.ico-checkbox-partial2:before {
	content: "\e434";
}
.ico-checkbox-checked2:before {
	content: "\e435";
}
.ico-checkbox-unchecked3:before {
	content: "\e436";
}
.ico-checkbox-partial3:before {
	content: "\e437";
}
.ico-radio-checked:before {
	content: "\e438";
}
.ico-radio-unchecked:before {
	content: "\e439";
}
.ico-circle2:before {
	content: "\e43a";
}
.ico-circle22:before {
	content: "\e43b";
}
.ico-crop2:before {
	content: "\e43c";
}
.ico-crop22:before {
	content: "\e43d";
}
.ico-vector:before {
	content: "\e43e";
}
.ico-rulers:before {
	content: "\e43f";
}
.ico-scissors:before {
	content: "\e440";
}
.ico-scissors2:before {
	content: "\e441";
}
.ico-scissors3:before {
	content: "\e442";
}
.ico-filter2:before {
	content: "\e443";
}
.ico-filter22:before {
	content: "\e444";
}
.ico-filter3:before {
	content: "\e445";
}
.ico-filter4:before {
	content: "\e446";
}
.ico-font2:before {
	content: "\e447";
}
.ico-font-size:before {
	content: "\e448";
}
.ico-type:before {
	content: "\e449";
}
.ico-text-height2:before {
	content: "\e44a";
}
.ico-text-width2:before {
	content: "\e44b";
}
.ico-height:before {
	content: "\e44c";
}
.ico-width:before {
	content: "\e44d";
}
.ico-bold2:before {
	content: "\e44e";
}
.ico-underline2:before {
	content: "\e44f";
}
.ico-italic2:before {
	content: "\e450";
}
.ico-strikethrough2:before {
	content: "\e451";
}
.ico-strikethrough22:before {
	content: "\e452";
}
.ico-font-size2:before {
	content: "\e453";
}
.ico-bold22:before {
	content: "\e454";
}
.ico-underline22:before {
	content: "\e455";
}
.ico-italic22:before {
	content: "\e456";
}
.ico-strikethrough3:before {
	content: "\e457";
}
.ico-omega:before {
	content: "\e458";
}
.ico-sigma:before {
	content: "\e459";
}
.ico-nbsp:before {
	content: "\e45a";
}
.ico-page-break:before {
	content: "\e45b";
}
.ico-page-break2:before {
	content: "\e45c";
}
.ico-superscript2:before {
	content: "\e45d";
}
.ico-subscript2:before {
	content: "\e45e";
}
.ico-superscript22:before {
	content: "\e45f";
}
.ico-subscript22:before {
	content: "\e460";
}
.ico-text-color:before {
	content: "\e461";
}
.ico-highlight:before {
	content: "\e462";
}
.ico-pagebreak:before {
	content: "\e463";
}
.ico-clear-formatting:before {
	content: "\e464";
}
.ico-table2:before {
	content: "\e465";
}
.ico-table22:before {
	content: "\e466";
}
.ico-insert-template:before {
	content: "\e467";
}
.ico-pilcrow:before {
	content: "\e468";
}
.ico-left-toright:before {
	content: "\e469";
}
.ico-right-toleft:before {
	content: "\e46a";
}
.ico-paragraph-left:before {
	content: "\e46b";
}
.ico-paragraph-center:before {
	content: "\e46c";
}
.ico-paragraph-right:before {
	content: "\e46d";
}
.ico-paragraph-justify:before {
	content: "\e46e";
}
.ico-paragraph-left2:before {
	content: "\e46f";
}
.ico-paragraph-center2:before {
	content: "\e470";
}
.ico-paragraph-right2:before {
	content: "\e471";
}
.ico-paragraph-justify2:before {
	content: "\e472";
}
.ico-indent-increase:before {
	content: "\e473";
}
.ico-indent-decrease:before {
	content: "\e474";
}
.ico-paragraph-left3:before {
	content: "\e475";
}
.ico-paragraph-center3:before {
	content: "\e476";
}
.ico-paragraph-right3:before {
	content: "\e477";
}
.ico-paragraph-justify3:before {
	content: "\e478";
}
.ico-share2:before {
	content: "\e47b";
}
.ico-new-tab:before {
	content: "\e47c";
}
.ico-new-tab2:before {
	content: "\e47d";
}
.ico-popout:before {
	content: "\e47e";
}
.ico-embed:before {
	content: "\e47f";
}
.ico-code2:before {
	content: "\e480";
}
.ico-console:before {
	content: "\e481";
}
.ico-seven-segment0:before {
	content: "\e482";
}
.ico-seven-segment1:before {
	content: "\e483";
}
.ico-seven-segment2:before {
	content: "\e484";
}
.ico-seven-segment3:before {
	content: "\e485";
}
.ico-seven-segment4:before {
	content: "\e486";
}
.ico-seven-segment5:before {
	content: "\e487";
}
.ico-seven-segment6:before {
	content: "\e488";
}
.ico-seven-segment7:before {
	content: "\e489";
}
.ico-seven-segment8:before {
	content: "\e48a";
}
.ico-seven-segment9:before {
	content: "\e48b";
}
.ico-share22:before {
	content: "\e48c";
}
.ico-share3:before {
	content: "\e48d";
}
.ico-mail:before {
	content: "\e48e";
}
.ico-mail2:before {
	content: "\e48f";
}
.ico-mail3:before {
	content: "\e490";
}
.ico-mail4:before {
	content: "\e491";
}
.ico-google:before {
	content: "\e492";
}
.ico-google-plus2:before {
	content: "\e493";
}
.ico-google-plus22:before {
	content: "\e494";
}
.ico-google-plus3:before {
	content: "\e495";
}
.ico-google-plus4:before {
	content: "\e496";
}
.ico-google-drive:before {
	content: "\e497";
}
.ico-facebook2:before {
	content: "\e498";
}
.ico-facebook22:before {
	content: "\e499";
}
.ico-facebook3:before {
	content: "\e49a";
}
.ico-facebook4:before {
	content: "\e49b";
}
.ico-instagram2:before {
	content: "\e49c";
}
.ico-twitter2:before {
	content: "\e49d";
}
.ico-twitter22:before {
	content: "\e49e";
}
.ico-twitter3:before {
	content: "\e49f";
}
.ico-feed2:before {
	content: "\e4a0";
}
.ico-feed3:before {
	content: "\e4a1";
}
.ico-feed4:before {
	content: "\e4a2";
}
.ico-youtube2:before {
	content: "\e4a3";
}
.ico-youtube22:before {
	content: "\e4a4";
}
.ico-vimeo:before {
	content: "\e4a5";
}
.ico-vimeo2:before {
	content: "\e4a6";
}
.ico-vimeo3:before {
	content: "\e4a7";
}
.ico-lanyrd:before {
	content: "\e4a8";
}
.ico-flickr2:before {
	content: "\e4a9";
}
.ico-flickr22:before {
	content: "\e4aa";
}
.ico-flickr3:before {
	content: "\e4ab";
}
.ico-flickr4:before {
	content: "\e4ac";
}
.ico-picassa:before {
	content: "\e4ad";
}
.ico-picassa2:before {
	content: "\e4ae";
}
.ico-dribbble2:before {
	content: "\e4af";
}
.ico-dribbble22:before {
	content: "\e4b0";
}
.ico-dribbble3:before {
	content: "\e4b1";
}
.ico-forrst:before {
	content: "\e4b2";
}
.ico-forrst2:before {
	content: "\e4b3";
}
.ico-deviantart:before {
	content: "\e4b4";
}
.ico-deviantart2:before {
	content: "\e4b5";
}
.ico-steam:before {
	content: "\e4b6";
}
.ico-steam2:before {
	content: "\e4b7";
}
.ico-github2:before {
	content: "\e4b8";
}
.ico-github22:before {
	content: "\e4b9";
}
.ico-github3:before {
	content: "\e4ba";
}
.ico-github4:before {
	content: "\e4bb";
}
.ico-github5:before {
	content: "\e4bc";
}
.ico-wordpress:before {
	content: "\e4bd";
}
.ico-wordpress2:before {
	content: "\e4be";
}
.ico-joomla:before {
	content: "\e4bf";
}
.ico-blogger:before {
	content: "\e4c0";
}
.ico-blogger2:before {
	content: "\e4c1";
}
.ico-tumblr2:before {
	content: "\e4c2";
}
.ico-tumblr22:before {
	content: "\e4c3";
}
.ico-yahoo:before {
	content: "\e4c4";
}
.ico-tux:before {
	content: "\e4c5";
}
.ico-apple2:before {
	content: "\e4c6";
}
.ico-finder:before {
	content: "\e4c7";
}
.ico-android2:before {
	content: "\e4c8";
}
.ico-windows2:before {
	content: "\e4c9";
}
.ico-windows8:before {
	content: "\e4ca";
}
.ico-soundcloud:before {
	content: "\e4cb";
}
.ico-soundcloud2:before {
	content: "\e4cc";
}
.ico-skype2:before {
	content: "\e4cd";
}
.ico-reddit:before {
	content: "\e4ce";
}
.ico-linkedin2:before {
	content: "\e4cf";
}
.ico-lastfm:before {
	content: "\e4d0";
}
.ico-lastfm2:before {
	content: "\e4d1";
}
.ico-delicious:before {
	content: "\e4d2";
}
.ico-stumbleupon:before {
	content: "\e4d3";
}
.ico-stumbleupon2:before {
	content: "\e4d4";
}
.ico-stackoverflow:before {
	content: "\e4d5";
}
.ico-pinterest2:before {
	content: "\e4d6";
}
.ico-pinterest22:before {
	content: "\e4d7";
}
.ico-xing2:before {
	content: "\e4d8";
}
.ico-xing22:before {
	content: "\e4d9";
}
.ico-flattr:before {
	content: "\e4da";
}
.ico-foursquare2:before {
	content: "\e4db";
}
.ico-foursquare22:before {
	content: "\e4dc";
}
.ico-paypal:before {
	content: "\e4dd";
}
.ico-paypal2:before {
	content: "\e4de";
}
.ico-paypal3:before {
	content: "\e4df";
}
.ico-yelp:before {
	content: "\e4e0";
}
.ico-libreoffice:before {
	content: "\e4e1";
}
.ico-file-pdf:before {
	content: "\e4e2";
}
.ico-file-openoffice:before {
	content: "\e4e3";
}
.ico-file-word:before {
	content: "\e4e4";
}
.ico-file-excel:before {
	content: "\e4e5";
}
.ico-file-zip:before {
	content: "\e4e6";
}
.ico-file-powerpoint:before {
	content: "\e4e7";
}
.ico-file-xml:before {
	content: "\e4e8";
}
.ico-file-css:before {
	content: "\e4e9";
}
.ico-html52:before {
	content: "\e4ea";
}
.ico-html522:before {
	content: "\e4eb";
}
.ico-css32:before {
	content: "\e4ec";
}
.ico-chrome:before {
	content: "\e4ed";
}
.ico-firefox:before {
	content: "\e4ee";
}
.ico-IE:before {
	content: "\e4ef";
}
.ico-opera:before {
	content: "\e4f0";
}
.ico-safari:before {
	content: "\e4f1";
}
.ico-IcoMoon:before {
	content: "\e4f2";
}
.ico-indent-decrease2:before {
	content: "\e47a";
}
.ico-indent-decrease3:before {
	content: "\e4f3";
}
.ico-indent-increase2:before {
	content: "\e479";
}
.ico-indent-increase22:before {
	content: "\e4f4";
}
