<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">
        VK-Auftrag
        <small clas="text-muted">{{sub-title}}</small>
        </h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <button type="button" class="btn btn-primary"><i class="ico-print3"></i> Print</button>
            &nbsp;<span class="text-muted semibold">or</span>&nbsp;
            <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="ico-screwdriver2"></i></button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="javascript:void(0);">Send</a></li>
                    <li><a href="javascript:void(0);">Save</a></li>
                    <li><a href="javascript:void(0);">Forward</a></li>
                </ul>
            </div>
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->

<div class="row">
  <!-- START Left Side -->
  <div class="col-md-9">
    {{ statistic_widget-component }}

    <hr></hr>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <!-- panel heading/header -->
          <div class="panel-heading">
              <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> VK {{model.baanId}}</h3>
              <!-- panel toolbar -->
              <div class="panel-toolbar text-right">
                  <!-- option -->
                  <div class="option">
                    <button class="btn" {{action 'newPallet' model}}><i class="ico-cart4"></i></button>
                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                  </div>
                  <!--/ option -->
              </div>
              <!--/ panel toolbar -->
          </div>
          <!--/ panel heading/header -->
          <!-- panel body with collapse capabale -->
          <div class="table-responsive panel-collapse pull out">
              <table class="table table-bordered table-hover" id="table1">
                  <thead>
                      <tr>
                          <th>Position</th>
                          <th>Artikel Nr</th>
                          <th>Artikel</th>
                          <th>Lager</th>
                          <th>Gebiet</th>
                          <th>Versand</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each orderItem in model.orderItems}}
                      <tr>
                        <td>
                          {{#link-to 'order_item' orderItem}}
                            {{orderItem.baanId}}
                          {{/link-to}}
                        </td>
                        <td>{{orderItem.article.articleNumber}}</td>
                        <td>{{orderItem.article.name}}</td>
                        <td>WE</td>
                        <td></td>
                        <td>06.09.13</td>
                        <td>
                          <div class="btn-group">
                            <button {{action 'increaseMountedQuantityToMax' orderItem}} class="btn btn-xs btn-default" {{bind-attr disabled=orderItem.increaseDeactivated}}>
                              {{orderItem.availableQuantity}} <i class="ico-stack2"></i>
                            </button>
                          </div>
                          <div class="btn-group">
                            <button {{action 'resetMountedQuantity' orderItem}} class="btn btn-xs btn-default" {{bind-attr disabled=orderItem.decreaseDeactivated}}>
                              {{orderItem.selectedQuantity}}
                            </button>
                            <button {{action 'decreaseMountedQuantity' orderItem}} class="btn btn-xs btn-default" {{bind-attr disabled=orderItem.decreaseDeactivated}}>
                              <i class="ico-minus-circle"></i>
                            </button>
                            <button {{action 'increaseMountedQuantity' orderItem}} class="btn btn-xs btn-default" {{bind-attr disabled=orderItem.increaseDeactivated}}>
                              <i class="ico-plus-circle"></i>
                            </button>
                          </div>
                          <div class="btn-group">
                            <button {{action 'assignLineItems' orderItem}} class="btn btn-xs btn-success" {{bind-attr disabled=lineItemAssignmentDisabled}}>
                              {{selectedPallet.id}} <i class="ico-cart-add"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
              </table>
          </div>
          <!--/ panel body with collapse capabale -->
        </div>
      </div>
    </div>

    {{#each pallet in pallets}}
      <hr></hr>
      <div class="row">
        <div class="col-sm-12">
          <div {{bind-attr class="pallet.panelClass"}}>
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-cart3"></i></span> Palette {{pallet.id}} VK {{pallet.purchaseOrder.baanId}}</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                      <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                      <button class="btn" {{action 'removePallet' pallet}}><i class="ico-cart-remove2"></i></button>
                      <button class="btn" {{action 'selectPallet' pallet}}><i class="ico-pushpin"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="table-responsive panel-collapse pull out">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                          <th>Position</th>
                          <th>Artikel Nr</th>
                          <th>Artikel</th>
                          <th>Lager</th>
                          <th>Gebiet</th>
                          <th>Versand</th>
                          <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{#each lineItem in pallet.lineItems}}
                        <tr>
                          <td>{{lineItem.orderItem.baanId}}</td>
                          <td>{{lineItem.orderItem.article.articleNumber}}</td>
                          <td>{{lineItem.orderItem.article.name}}</td>
                          <td>WE</td>
                          <td></td>
                          <td>06.09.13</td>
                          <td>
                            <div class="btn-group">
                              <button {{action 'increaseAssignedQuantityToMax' lineItem}} class="btn btn-xs btn-default" {{bind-attr disabled=lineItem.increaseDeactivated}}>
                                {{lineItem.availableQuantity}} <i class="ico-stack2"></i>
                              </button>
                            </div>
                            <div class="btn-group">
                              <button class="btn btn-xs btn-default" disabled="true">
                                {{lineItem.quantity}}
                              </button>
                              <button {{action 'decreaseAssignedQuantity' lineItem}} class="btn btn-xs btn-default" {{bind-attr disabled=lineItem.decreaseDeactivated}}>
                                <i class="ico-minus-circle"></i>
                              </button>
                              <button {{action 'increaseAssignedQuantity' lineItem}} class="btn btn-xs btn-default" {{bind-attr disabled=lineItem.increaseDeactivated}}>
                                <i class="ico-plus-circle"></i>
                              </button>
                            </div>
                            <div class="btn-group">
                              <button {{action 'removeLineItem' lineItem}} class="btn btn-xs btn-danger">
                                <i class="ico-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
            <!--/ panel body with collapse capabale -->
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <!--/ END Left Side -->

  <!-- START Right Side -->
  <div class="col-md-3">
      <div class="panel panel-minimal">
          <div class="panel-heading"><h5 class="panel-title"><i class="ico-health mr5"></i>Latest Activity</h5></div>

          <!-- Media list feed -->
          <ul class="media-list media-list-feed nm">
              <li class="media">
                  <div class="media-object pull-left">
                      <i class="ico-pencil bgcolor-success"></i>
                  </div>
                  <div class="media-body">
                      <p class="media-heading">EDIT EXISTING PAGE</p>
                      <p class="media-text"><span class="text-primary semibold">Service Page</span> has been edited by Tamara Moon.</p>
                      <p class="media-meta">Just Now</p>
                  </div>
              </li>
              <li class="media">
                  <div class="media-object pull-left">
                      <i class="ico-upload22 bgcolor-success"></i>
                  </div>
                  <div class="media-body">
                      <p class="media-heading">UPLOAD CONTENT</p>
                      <p class="media-text">Tamara Moon has uploaded 8 new item to the directory</p>
                      <p class="media-meta">3 Hour Ago</p>
                  </div>
              </li>
              <li class="media">
                  <div class="media-object pull-left">
                      <i class="ico-pencil bgcolor-success"></i>
                  </div>
                  <div class="media-body">
                      <p class="media-heading">NEW MESSAGE</p>
                      <p class="media-text">Arthur Abbott send you a message</p>
                      <p class="media-meta">3 Hour Ago</p>
                  </div>
              </li>
              <li class="media">
                  <div class="media-object pull-left">
                      <i class="ico-loop4"></i>
                  </div>
                  <div class="media-body">
                      <a href="javascript:void(0);" class="media-heading text-primary">Load more feed</a>
                  </div>
              </li>
          </ul>
          <!--/ Media list feed -->
      </div>
  </div>
  <!--/ END Right Side -->
</div>