<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">
        Importer
        <small clas="text-muted">{{sub-title}}</small>
        </h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            {{#link-to 'importer.new' class="btn btn-primary"}}
                <i class="ico-stack-plus"></i> Neu
            {{/link-to}}
        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!--/ Page Header -->

<div class="row">
  <!-- START Left Side -->
  <div class="col-md-9">
    {{ statistic_widget-component }}
    <hr></hr>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <!-- panel heading/header -->
          <div class="panel-heading">
              <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-truck2"></i></span> Uploads</h3>
              <!-- panel toolbar -->
              <div class="panel-toolbar text-right">
                  <!-- option -->
                  <div class="option">
                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                  </div>
                  <!--/ option -->
              </div>
              <!--/ panel toolbar -->
          </div>
          <!--/ panel heading/header -->
          <!-- panel body with collapse capabale -->
          <div class="table-responsive panel-collapse pull out">
              <table class="table table-bordered table-hover" id="table1">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>File Url</th>
                    <th>Content Type</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each import in model}}
                    <tr>
                      <td>{{import.id}}</td>
                      <td>{{import.filename}}</td>
                      <td>{{import.baanFileUrl}}</td>
                      <td>{{import.contentType}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
          </div>
          <!--/ panel body with collapse capabale -->
        </div>
      </div>
    </div>

  </div>
</div>
