<!-- START Template Header -->
<header id="header" class="navbar navbar-fixed-top">
  <!-- START navbar header -->
  <div class="navbar-header">
      <!-- Brand -->
      <a class="navbar-brand" href="index.html">
          <span class="template-logo"></span>
      </a>
      <!--/ Brand -->
  </div>
  <!--/ END navbar header -->
  <div class="navbar-toolbar clearfix">

  </div>
</header>
<!--/ END Template Header -->

<!-- START Template Sidebar (Left) -->
<aside class="sidebar sidebar-left sidebar-menu">
  <!-- START Sidebar Content -->
  <section class="content slimscroll">
      <!-- START Template Navigation/Menu -->
      <ul id="nav" class="topmenu">
          <li class="menuheader">PRODUKTION</li>
          <li >
            {{#link-to 'purchase_orders.index'}}
              <span class="figure"><span class="ico-inbox"></span></span>
              <span class="text">VK-Aufträge</span>
            {{/link-to}}
          </li>
          <li >
            {{#link-to 'order_items.index'}}
              <span class="figure"><span class="ico-th-list"></span></span>
              <span class="text">VK-Positionen</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'deliveries.index'}}
              <span class="figure"><span class="ico-truck2"></span></span>
              <span class="text">Versand</span>
            {{/link-to}}
          </li>
          <li class="menuheader">OTHERS</li>
          <li>
            {{#link-to 'importer.index'}}
              <span class="figure"><span class="ico-database"></span></span>
              <span class="text">Import</span>
            {{/link-to}}
          </li>
      </ul>
      <!--/ END Template Navigation/Menu -->
  </section>
  <!--/ END Sidebar Container -->
</aside>
<!--/ END Template Sidebar (Left) -->

<!-- START Template Main -->
<section id="main" role="main">
  <!-- START Template Container -->
  <section class="container-fluid">
    <!-- START YOUR CONTENT -->
    {{outlet}}
  </section>
  <!--/ END Template Container -->
</section>
<!--/ END Template Main -->

<!-- START Template Sidebar (right) -->
<aside class="sidebar sidebar-right">...</aside>
<!--/ END Template Sidebar (right)
