{{ page_header-component title="VK-Position" }}
<div class="row">
  <div class="col-md-6">
    <!-- START panel -->
    <div class="panel panel-default">
        <!-- panel heading/header -->
        <div class="panel-heading">
            <h3 class="panel-title">Default</h3>
            <!-- panel toolbar -->
            <div class="panel-toolbar text-right">
                <!-- option -->
                <div class="option">
                    <button class="btn"><i class="reload"></i></button>
                </div>
                <!--/ option -->
            </div>
            <!--/ panel toolbar -->
        </div>
        <!--/ panel heading/header -->

        <!-- panel body with collapse capable -->
        <div class="panel-collapse pull out">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, mei essent everti theophrastus an, accusam lucilius vis eu. In mei accusamus efficiendi mediocritatem, eos ex paulo complectitur.
            </div>
        </div>
        <!--/ panel body with collapse capabale -->

        <!-- Loading indicator -->
        <div class="indicator"><span class="spinner"></span></div>
        <!--/ Loading indicator -->
    </div>
    <!--/ END panel -->
  </div>
</div>