{{ page_header-component title=title }}

<!-- START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-primary">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Table Showcase</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                        <button class="btn" data-toggle="panelremove" data-parent=".col-md-12"><i class="remove"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel body with collapse capabale -->
            <div class="table-responsive panel-collapse pull out">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th>VK-Auftrag</th>
                            <th>Positionen</th>
                            <th>Gebuchte Paletten</th>
                            <th>Handelspartner</th>
                            <th>Tour</th>
                            <th>Gebiet</th>
                            <th>Versand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each item in model}}
                            <tr>
                                <td>
                                    {{#link-to 'purchase_order.index' item}}
                                        {{item.baanId}}
                                    {{/link-to}}
                                </td>
                                <td></td>
                                <td></td>
                                <td>{{item.tradingPartner}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
<!--/ END row -->