<!-- Page Header -->
<div class="page-header page-header-block">
  <div class="page-header-section">
    <h4 class="title semibold">
      Versand
    </h4>
  </div>
  <div class="page-header-section">
    <!-- Toolbar -->
    <div class="toolbar">
      {{#link-to 'deliveries.new' class="btn btn-primary"}}
        <i class="ico-stack-plus"></i> Neu
      {{/link-to}}
    </div>
    <!--/ Toolbar -->
  </div>
</div>
<!--/ Page Header -->

<div class="row">
  <!-- START Left Side -->
  <div class="col-md-9">
    {{ statistic_widget-component }}
    <hr></hr>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <!-- panel heading/header -->
          <div class="panel-heading">
              <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-truck2"></i></span> Versand</h3>
              <!-- panel toolbar -->
              <div class="panel-toolbar text-right">
                  <!-- option -->
                  <div class="option">
                    <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                  </div>
                  <!--/ option -->
              </div>
              <!--/ panel toolbar -->
          </div>
          <!--/ panel heading/header -->
          <!-- panel body with collapse capabale -->
          <div class="table-responsive panel-collapse pull out">
              <table class="table table-bordered table-hover" id="table1">
                <thead>
                  <tr>
                    <th>Versand</th>
                    <th>Paletten</th>
                    <th>Empfänger</th>
                    <th>Land</th>
                    <th>Abholtermin</th>
                    <th>Spediteur</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each delivery in model}}
                    <tr>
                      <td>
                        {{#link-to 'delivery' delivery}}
                          {{delivery.id}}
                        {{/link-to}}
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
          </div>
          <!--/ panel body with collapse capabale -->
        </div>
      </div>
    </div>




  </div>
</div>