<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">
            Neuer Versand
        </h4>
    </div>
</div>
<!--/ Page Header -->

<!-- START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-default">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title">General</h3>
            </div>
            <!--/ panel heading/header -->
            <!-- panel body -->
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="">
                    <h4 class="text-primary mt0">Basic example</h4>
                    <p class="pb10">Dummy Text</p>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Help text</label>
                        <div class="col-sm-9">
                            {{input type="text" value=deliveryDate class="form-control"}}
                            <span class="help-block">Help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group no-border">
                            <label class="col-sm-3 control-label">Button</label>
                            <div class="col-sm-9">
                                <button {{action 'submitDelivery'}} class="btn btn-primary">Submit button</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- panel body -->
        </div>
        <!--/ END form panel -->
    </div>
</div>
<!--/ END row -->
